{% extends "layout.html" %}
{% block content %}
<h1 align="center" class="mb-4">FAQ</h1>
<hr class='class-1'>

<div id="viz">
	<h4 align="center"> Q: How do I visualize my light sheet data?</h4>
		<p>
			<b>A:</b> When your data are imaged and processed, we automatically
			generate links to Neuroglancer for you to browse your data. 
			There are multiple ways to see these links. The easiest is to go to your 
			<a href="{{url_for('requests.all_requests')}}">Requests</a> page, then 
			click the "View request status" link in the row corresponding to the request
			of interest. Then find the sample you want to visualize, scroll all the way 
			to the right of that row and click the "Viz" link. If the sample of interest
			has not yet been imaged, then the link will not go anywhere. If it has been
			imaged (and our visualization scripts have finished), then you will be linked
			to a form to choose what data specifically
			you want to visualize from this sample. You will receive an email when 
			your data are ready to be visualized with a link to this form. 
		</p>
</div>

<hr class='class-1'>


<div id="stitching">
	<h4 align="center"> Q: What is stitching/tiling?</h4>
		<p>
			<b>A:</b> Sometimes your sample is too large (in x,y) to fit into the
			field of view of the microscope. This is true for rat brains imaged at any resolution 
			and true for mouse brains imaged at >1.3x (x,y) resolution. When this happens, the 
			imager has to move the sample in a grid pattern and re-image it at each tile in the grid
			until the entire desired volume is imaged.  Included in the processing
			pipeline is a program called terastitcher that combines ("stitches") the scans 
			from each tile in the grid into a single 3d volume. Below is an illustration of this process. 
		</p>
		<div align="center" class='mb-2 mt-4'>
			<img src="{{ url_for('static',filename='FAQ/mouse_sagittal_stitching.png') }}">	
			</br> 
			<b>Fig. 1.1</b>: A raw 3x2 tiled dataset is stitched into a single volume. 
			The top dataset was originally 6 volumes that were imaged separately because the 
			brain was too large to fit into a single tile.
			Stitching is performed automatically for tiled datasets as part of the automated 
			whole-brain processing pipeline. 
		</div>
</div>
 
<hr class='class-1'>

<div id='new_imaging_request'>
	<h4 align="center"> Q: How do I request additional imaging for a sample I already submitted?</h4>
	<p>
		<b>A:</b> This is currently not supported through this portal. If you need additional imaging for a sample after you have submitted your request, please contact us right away at lightservhelper@gmail.com. 
	</p>
</div>

<hr class='class-1'>

<script>
	function offsetAnchor() {
	  if (location.hash.length !== 0) {
	    window.scrollTo(window.scrollX, window.scrollY - 100);
	  }
	}

	// Captures click events of all a elements with href starting with #
	$(document).on('click', function(event) {
	  // Click events are captured before hashchanges. Timeout
	  // causes offsetAnchor to be called after the page jump.
	  window.setTimeout(function() {
	    offsetAnchor();
	  }, 0);
	});

	// Set the offset when entering page with hash present in the url
	window.setTimeout(offsetAnchor, 0);
</script>

{% endblock content %}

