{% extends "layout.html" %}
{% block content %}
<h1 align="center" class="mb-4">Brain Registration and Histology Core Facility Gallery </h1>
<hr class='class-1'>
	<div class='mb-4'>
		<h3 align="center"> Transsynaptic viral tracing </h3>
		<div align="center" class='mb-2'>
			<img src="{{ url_for('static',filename='gallery/viral_tracing.gif') }}">
		</div>

		<p align="left"> The original use case of the Core Facility. Pisano et al. (in prep.) used light sheet imaging to map anatomical pathways between the cerebellum and sensorimotor, associative, and modulatory regions of the forebrain. Shown above is a three dimensional visualization of cell centers (light green) that were traced using the anterograde transsynaptic tracer herpes simplex virus type 1 (H129) and the retrograde tracer pseudorabies virus (Bartha). Also shown are cerebellar subregions from the Princeton Mouse Brain Atlas (PMA), a modified version of the Allen Mouse Brain Atlas (AMBA). The PMA extends the AMBA to include the posterior cerebellum, and it improves registration accuracy for light sheet images.  
		</p>

		<h5 class='border-bottom'> Technical specs: </h5>
		<b>Species:</b> Mouse </br>
		<b>Clearing protocol:</b> iDISCO+ (with immunostaining)</br>
		<b>Imaging resolution:</b> 4x</br>
		<b>Imaging modes:</b> Registration (488 nm), Cell detection (647 nm)</br>
		<b>Cell detection method:</b> <a href="https://github.com/PrincetonUniversity/3dunet">https://github.com/PrincetonUniversity/3dunet</a></br>
		<b>Visualization:</b> <a target="_blank" href="http://github.com/BrainCOGS/neuroglancer">neuroglancer</a>

	</div>
	
<hr class='class-2'>

	<div class='mb-4'>
		<h3 align="center"> c-Fos thalamic expression </h3>
		<div align="center" class='mb-2'>
			<img width="1200" src="{{ url_for('static',filename='gallery/clearmap_jess_201904_ymaze_cfos_an4.png') }}">
		</div>

		<p align="left"> Verpeut et al. (in prep.) used light sheet imaging to 
		trace c-Fos expression in thalamic subregions after a Y-maze reversal task. 
		Shown above is a horizontal slice through the brain of a mouse subject
		showing the light sheet data 
		at cellular resolution in inverse color scale (gray background), 
		selected regions of the Princeton Mouse Brain Atlas (colored regions),
		and detected cell centers (yellow circles) from Clearmap cell detection algorithm. 
		</br></br>
		The visualization is shown at the resolution of the raw data 
		(i.e. highest resolution possible in this experiment), and the brain atlas
		was transformed to the raw data coordinate framework for reference. 
		On the right hand side are the anatomical labels for the selected brain regions. 
		Clearmap is well suited for cell detection at this resolution (1.3x), and 
		detects cells over a wide dynamic range. For example, the large, visibly obvious cells
		and the very faint, less obvious cells are simultaneously detected in a single run over the entire brain.
		</p>

		<h5 class='border-bottom'> Technical specs: </h5>
		<b>Species:</b> Mouse </br>
		<b>Clearing protocol:</b> iDISCO+ (with immunostaining)</br>
		<b>Imaging resolution:</b> 1.3x</br>
		<b>Imaging modes:</b> Registration (488 nm) - not shown, Cell detection (647 nm) - shown above</br>
		<b>Cell detection method:</b> <a href="https://github.com/PrincetonUniversity/ClearMapCluster">https://github.com/PrincetonUniversity/ClearMapCluster</a></br>

		<b>Visualization:</b> <a target="_blank" href="http://github.com/BrainCOGS/neuroglancer">neuroglancer</a>

	</div>


{% endblock content %}
