{% extends "layout.html" %}
	{% block content %}
	<a class="text-muted">Logged in as: {{ session['user'] }}</a></br></br>
	<legend class="border-bottom mb-4 mt-4">{{ legend }}:</legend>
		<div style="max-height: 300px; overflow: auto;">
			{{ request_table }}
		</div>
		{% if request_contents %}
			<input id = "tableSwapper" type="button"  class="btn btn-sm btn-secondary mt-1" value="Click to change table orientation (vertical/horizontal)"/>
		{% endif %}

		<form action="{{url_for('requests.new_request')}}">
			<button type="submit" class="btn btn-info mt-4 mb-4">Start a new request</button>
		</form>

	<script type="text/javascript" defer="defer">

		   $("#tableSwapper").click(function() {
		   MYLIBRARY.swapTable("{{request_table.table_id}}");
		});

	</script>
	{% endblock content %}
