{% extends "layout.html" %}
{% block content %}

<h1 align="center"> Pre-handoff Instructions </h1>
<hr class='class-1'>
We ask that you contact Laura Lynch (ll3@princeton.edu) at least 2 business days before the handoff to ensure there is time to prepare solutions and schedule the clearing in advance. It is ok to submit a <a target="_blank" href="{{ url_for('requests.new_request') }}">New Request</a> at any point -- this will automatically notify us that you are planning to drop off samples. In fact, the sooner you submit your request the better. Still, please coordinate directly with Laura Lynch regarding the precise time and location of handoff. 
</br>
</br>

Please following these steps before handing us your samples for clearing.
<ul>
	<li class='widespace'> Regarding perfusions: do your normal transcardial perfusion.</li>

	<li class='widespace'>If possible add 20 units/ml of heparin (e.g. Sigma H3149-100KU) to the PBS flush. We have some in the Wang lab (A85) if you need it.</li>

	From the iDISCO website FAQ  (https://idisco.info/faq-and-troubleshooting/):
	"Why does the protocol use Heparin?
	The use of heparin is inspired by cell binding assays, where it is used to reduce the background staining. The heparin binds to cell-surface glycoproteins and prevents them from sticking to the ligands and antibodies."


	<li class='widespace'>When extracting the brain, try to be careful not to damage the edges, and if possible include the cerebellum and proximal part of the brain stem. This helps with registration</li>


	<li class='widespace'>Typically, for rodent brains, after perfusion:
		<ul>
			<li>Fix in 4%PFA/1xPBS, rocking, at room temperature overnight. We recommend not keeping the brain in 4% PFA for more than 24 hours. </li>

			<li>Afterwards, in individual 5ml tubes or scintillation vials if possible, three 30 minutes 1xPBS washes, rocking at room temperature. You can increase the amount of washes to 5 or 6, the more the better. 3 is the recommended minimum. We would recommend labeling each tube with the animal/brain name, preferably with a label maker or methanol resistant marker.</li>

			<li>After the final PBS wash, leave the brains in PBS and drop off the samples. Please drop them in the Wang Lab (A85) if you have access. Otherwise contact Laura Lynch (ll3@princeton.edu) for instructions. But do let us know when you drop them off! And preferably label the outside of the box with lab name/experiment name.</li>

			<li>We would recommend not leaving samples in PBS for more than three days pre-handoff, especially if there is fluorescence in the sample.</li>
		</ul>
	</li>
</ul>

<b>Contacts:</b>
<ul>
	<li>Laura (ll3@princeton.edu) - for clearing questions</li>
	<li>lightservhelper@gmail.com - for website issues or questions</li>
</ul>
{% endblock content %}