{% extends "layout.html" %}
{% block content %}

<h1 align="center"> Pre-handoff Instructions </h1>
<hr class='class-1'>
There are some steps you would want to take before handing us your samples for clearing:
<ul>
	<li class='widespace'> Regarding perfusions: do your normal transcardial perfusion.</li>

	<li class='widespace'>If possible add 20 units/ml of heparin (e.g. Sigma H3149-100KU) to the PBS flush. We have some in the Wang lab (ask in A84D) if you need it.</li>

	From the iDISCO website FAQ  (https://idisco.info/faq-and-troubleshooting/):
	"Why does the protocol use Heparin?
	The use of heparin is inspired by cell binding assays, where it is use to reduce the background staining. The heparin binds to cell-surface glycoproteins and prevents them from sticking to the ligands and antibodies."


	<li class='widespace'>When extracting the brain, try to be careful not to damage the edges, and if possible include the cerebellum and proximal part of the brain stem. This helps with registration</li>


	<li class='widespace'>Typically, for rodent brains, after perfusion:
		<ul>
			<li>Fix in 4%PFA/1xPBS, rocking, at room temperature overnight. We recommend not keeping the brain in 4% PFA for more than 24 hours. </li>

			<li>Afterwards, in individual 5ml tubes or scintillation vials if possible, three 30 minutes 1xPBS washes, rocking at room temperature. You can increase the amount of washes to 5 or 6, the more the better. 3 is the recommended minimum. We would recommend labeling each tube with the animal/brain name, preferably with a label maker or methanol resistant marker.</li>

			<li>After the final PBS wash, leave the brains in PBS and drop off the samples. Usually you can just leave in our office (A84D - right side) or in the Wang lab if you have access. But do let us know when you drop them off! And preferably label the outside of the box with lab name/experiment name.</li>

			<li>We would recommend not leaving samples in PBS for more than three days pre-handoff, especially if there is fluorescence in the sample.</li>
		</ul>
	</li>
</ul>

<b>Contacts:</b>
<ul>
	<li>Laura (ll3@princeton.edu) - for clearing questions</li>
	<li>John (jduva@princeton.edu) - for clearing/imaging/analysis questions</li>
	<li>Zahra (zmd@princeton.edu) - for clearing/imaging/analysis questions</li>
	<li>lightservhelper@gmail.com - for website issues or questions</li>
</ul>
{% endblock content %}