{% extends "layout.html" %}
{% block content %}
<h1 align="center" class="mb-4">Related Publications and Patents </h1>
<hr class='class-1'>
	<h3>Publications</h3>
	<ol>
		<li>Pisano, T.J, Dhanerawala, Z.M., Kislin, M., Bakshinskaya, D., Engel, E.A., Hansen, E.J, Hoag, A., Lee, J., de Oude, N.L.,, Venkataraju, K.U., Verpeut, J.L., Hoebeek, F.E., Richardson, B.D. Boele, H., and Wang, S.S.H., 2021. Homologous organization of cerebellar pathways to sensory, motor, and associative forebrain. <i>Cell Reports</i>, accepted with minor revision. </li>
		<li> Maturana, C.J., Verpeut, J.L., Pisano, T.J., Dhanerawala, Z.M., Esteves, A., Enquist, L.W. and Engel, E.A., 2020. Small Alphaherpesvirus Latency-Associated Promoters Drive Efficient and Long-Term Transgene Expression in the CNS. <i>Molecular Therapy-Methods & Clinical Development</i>, 17, pp.843-857. PMID: 32368565. </li>
	</ol>
	<hr class='class-2'>
	<h3> Patents </h3>
		<ul>
			<li> <a href="https://patents.google.com/patent/WO2020163475A1/en">Recombinant nucleic acids containing alphaherpesvirus promoter sequences</a> </li>
		</ul>
{% endblock content %}