{% extends "layout.html" %}
	{% block content %}
	<h3 align="center" class="mb-4">Welcome to the Light Sheet Microscopy Core Facility Portal</h3>
	<h5> What is the Core Facility? </h5>
	<p>
		The Core Facility at the Princeton Neuroscience Institute performs whole-brain clearing and imaging for a variety of tissue types. See our <a href="#">gallery</a> for examples. Our imaging facility consists of a <a href="https://www.lavisionbiotec.com/products/UltraMicroscope.html">Lavision Biotec UltraMicroscope II</a> light sheet microscope to provide aligned, volumetric images. This optical microscope has two imaging resolutions (1.3x and 4x) and four wavelength channels (centered at 488nm, 555nm, 647nm and 790nm).
	</p>

	<h5> How to use this portal? </h5>
	<p>
		If you are interested in using our services, please fill out a <a href="#">new request form</a>. You will be asked to provide the details of your request, such as how many samples you would like cleared and imaged, as well as the clearing and imaging parameters to use for each sample.
	</p>

	<h5> What do we provide you? </h5>
	<p>
		We will provide you the raw images of your samples obtained with the light sheet microscope at the wavelengths of your choice. We also have a processing pipeline which can perform downsampling and  registration of your sample to a reference atlas of your choice. We also provide tools for visualizing and annotating your multi-dimensional data. 
	</p>

	<h5> How to contact us? </h5>
	<p>
		Please email us at <a href = "#">lightservhelper@gmail.com</a> with any questions about new or ongoing requests.
	</p>

	{% endblock content %}
