{% extends "layout.html" %}
{% block content %}
	<h1 class="mb-2" align="center">New Image Processing Request</h1>
	<p id='larger' align="center"> Imaging request number: {{imaging_request_number}}</p>
	<p id='larger' align="center"> Processing request number: {{new_processing_request_number}}</p>
	<hr class='class-2'>
	<h3>The following imaging has been taken for this imaging request:</h3>
		{{ imaging_overview_table}}
	<hr class='class-1'>

	<h3>The following processing has been done for this imaging request:</h3>
		{{ existing_processing_table }}
	<hr class='class-1'>

	<!-- BEGIN FORM -->
	<form method="POST" action="">
		{{ form.hidden_tag() }}
		<fieldset class="form-group">
			<h2 class='mb-2'> Choose how you want the processing to be completed for each image resolution/channel in this request:  </h2>
			<hr class='class-2'>
			<!-- Loop over the different image resolutions -->
			{% for ii in range(form.image_resolution_forms|length) %}
				{% set image_resolution_form = form.image_resolution_forms[ii] %}
				<!-- Render hiddenfield for image resolution -->
				{{ image_resolution_form.image_resolution() }}
				{% set image_resolution = image_resolution_form.image_resolution.data %}
				
				<h3 class='mb-4'> ({{ ii + 1 }}/{{form.image_resolution_forms|length }}) Image resolution: {{ image_resolution }} </h3>
				
				<h4 > Set up for image resolution: {{ image_resolution_form.image_resolution.data }} </h4>
				<table class="table table-bordered table-striped text-center mb-4">
	                <tr>
	                    <th>Channel wavelength(nm)</th>
	                    <th>Image resolution</th>
	                    <th>Registration</th>
	                    <th>Injection detection</th>
	                    <th>Probe detection</th>
	                    <th>Cell detection</th>
	                    <th>General Imaging</th>
	                </tr>
	            	{% set channel_forms = image_resolution_form.channel_forms.data %}
	                {% for jj in range(channel_forms|length) %}
	                	{% set channel_entry = image_resolution_form.channel_forms[jj] %}
	                	{% set channel_contents = channel_contents_lists[ii][jj] %}
		                <!-- Render the channel_name which is a hidden field just so it is set -->
	                	{{ channel_entry.channel_name() }} 
		                <tr>   
		                    <td>{{channel_entry.channel_name.data}}</td>
		                    <td>{{image_resolution_form.image_resolution.data }}</td>
		                    <td>{{channel_contents['registration']}}</td>
		                    <td>{{channel_contents['injection_detection']}}</td>
		                    <td>{{channel_contents['probe_detection']}}</td>
		                    <td>{{channel_contents['cell_detection']}}</td>
		                    <td>{{channel_contents['generic_imaging']}}</td>
		                </tr>
	               {% endfor %}
	            </table>

				<div class="form-group">
					{% if image_resolution_form.notes_for_processor.flags.required %}*{% endif %}
					{{ image_resolution_form.notes_for_processor.label(class="form-control-label") }}
					{% if image_resolution_form.notes_for_processor.errors %}
						{{ image_resolution_form.notes_for_processor(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in image_resolution_form.notes_for_processor.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ image_resolution_form.notes_for_processor(class="form-control form-control-lg") }}
					{% endif %}
				</div>

				<div class="form-group">
					{% if image_resolution_form.atlas_name.flags.required %}*{% endif %}
					{{ image_resolution_form.atlas_name.label(class="form-control-label") }}
					{% if image_resolution_form.atlas_name.errors %}
						{{ image_resolution_form.atlas_name(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in image_resolution_form.atlas_name.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ image_resolution_form.atlas_name(class="form-control form-control-lg") }}
					{% endif %}
				</div>

            	<hr class='class-2'>
            

			{% endfor %} <!-- Loop over image resolution forms -->

			<hr class='class-1'>
			<h3 class='mb-4'>Final steps:</h3>

		    <div class="form-group">
				{% if form.notes_from_processing.flags.required %}*{% endif %}
				{{ form.notes_from_processing.label(class="form-control-label") }}
				{% if form.notes_from_processing.errors %}
					{{ form.notes_from_processing(class="form-control form-control-lg is-invalid") }}
					<div class="invalid-feedback">
						{% for error in form.notes_from_processing.errors %}
							<span>{{ error }}</span>
						{% endfor %}
					</div>
				{% else %}
					{{ form.notes_from_processing(class="form-control form-control-lg") }}
				{% endif %}
			</div>

			<div class="form-group">
				{{ form.submit(class="btn btn-lg btn-info mt-2") }}
			</div>
		</fieldset>
	</form>
{% endblock content %}