{% extends "layout.html" %}
{% block content %}
	<h1 align="center"> Processing Entry Form </h1>
	<hr class='class-1'>
	<h3 align="center">Overview of this image processing request:</h3>
	{{ overview_table }}
	<hr class='class-1'>

	<h3>Notes from the request for processing:</h3>

	<div class='content-section'>
		<p>
			{% if sample_dict['notes_for_processor'] %}
				{{ sample_dict['notes_for_processor'] }}
			{% else %}
				No special notes were made
			{% endif %}
		</p>
	</div>
	
	<!-- BEGIN FORM -->
	<form method="POST" action="">
		{{ form.hidden_tag() }}
		<fieldset class="form-group">
			<!-- Loop over the different image resolutions -->
			{% for ii in range(form.image_resolution_forms|length) %}
				{% set image_resolution_form = form.image_resolution_forms[ii] %}
				<!-- Render hiddenfield for image resolution -->
				{{ image_resolution_form.image_resolution() }}
				{% set image_resolution = image_resolution_form.image_resolution.data %}
				
				<hr class='class-1'>
				<h2 class='mb-2'> Summary of processing to be completed for each image resolution:  </h2>
				<hr class='class-2'>
				<h3 class='mb-4'> ({{ ii + 1 }}/{{form.image_resolution_forms|length }}) Image resolution: {{ image_resolution }} </h3>
				
				{% for jj in range(image_resolution_form.channel_forms|length) %}
					{% set channel_form = image_resolution_form.channel_forms[jj] %}
					{% set channel_content = channel_contents_lists[ii][jj] %}
					<!-- Render hiddenfields for channel_form -->
					{{ channel_form.channel_name() }}
					{{ channel_form.channel_purposes_str() }}

					{% set channel_name = channel_form.channel_name.data %}
					{% set channel_purposes_str = channel_form.channel_purposes_str.data %}
					
					<!-- Channel processing params -->
					<div class="content-section">
					
						<div>
							<a id='larger' class='font-weight-bold'>Channel: {{  channel_name }} </a>
						</div>

						<div>
							<a id='larger' >Raw data folder:</a> <span> /jukebox/LightSheetData/lightserv_testing/{{sample_dict['username']}}/{{sample_dict['request_name']}}/{{sample_dict['sample_name']}}/imaging_request_{{channel_content['imaging_request_number']}}/rawdata/{{channel_content['rawdata_subfolder']}} </span>
						</div>
						<div>
							<a id='larger' >Output folder:</a> <span> /jukebox/LightSheetData/lightserv_testing/{{sample_dict['username']}}/{{sample_dict['request_name']}}/{{sample_dict['sample_name']}}/imaging_request_{{channel_content['imaging_request_number']}}/output/processing_request_{{processing_request_number}}/{{channel_content['rawdata_subfolder']}} </span>
						</div>

						<div>
							<a id='larger'>Image resolution: {{channel_content['image_resolution'] }} </a>
						</div>

						<div>
							<a id='larger'>Channel purpose(s): {% if channel_purposes_str %} {{ channel_purposes_str}} {% else %} None specified {% endif %}</a>
						</div>

						{% if 'registration' in channel_purposes_str %}
							
								<div class="form-group">
									{{ image_resolution_form.atlas_name.label(class="form-control-label text-danger", id='larger') }}
									{% if image_resolution_form.atlas_name.errors %}
										{{ image_resolution_form.atlas_name(class="form-control form-control-lg is-invalid col-md-8") }}
										<div class="invalid-feedback">
											{% for error in image_resolution_form.atlas_name.errors %}
												<span>{{ error }}</span>
											{% endfor %}
										</div>
									{% else %}
										{{ image_resolution_form.atlas_name(class="form-control form-control-lg col-md-8") }}
									{% endif %}
								</div>
							
						{% endif %}

				  		<a id='larger'>
				  		Tiling scheme: {{ channel_content['tiling_scheme']}}
						{% if channel_content['tiling_scheme'] != '1x1' %}
							- stitching with: terastitcher
						{% else %}
							(No need to stitch)
						{% endif %}
						</a>
					
						<hr class='class-2'>
						<!-- Data products section -->
						<a id='larger'>Data products that will be created for this channel: <a>

						<ul>
							<li>Blended "raw" planes (.TIFs for each z plane)</li>
							<li>Downsampled planes (.TIFs for each z plane)</li>
							{% if 'registration' in channel_purposes_str %}
								<li>Downsampled volume registered to atlas (.TIF stack)</li>
								<li>Registration parameters (registration channel -> atlas )</li>
							{% else %}
								<li>Downsampled volume registered to atlas (.TIF stack)</li>
								<li>Registration parameters (this channel -> registration channel)</li>
							{% endif %}

						</ul>  
					</div>
				{% endfor %} <!-- Loop over channel forms --> 

			{% endfor %} <!-- Loop over image resolution forms --> 

			<hr class='class-1'>
			<h3 class='mb-4'>Final steps:</h3>

		    <div class="form-group">
				{% if form.notes_from_processing.flags.required %}*{% endif %}
				{{ form.notes_from_processing.label(class="form-control-label") }}
				{% if form.notes_from_processing.errors %}
					{{ form.notes_from_processing(class="form-control form-control-lg is-invalid") }}
					<div class="invalid-feedback">
						{% for error in form.notes_from_processing.errors %}
							<span>{{ error }}</span>
						{% endfor %}
					</div>
				{% else %}
					{{ form.notes_from_processing(class="form-control form-control-lg") }}
				{% endif %}
			</div>

			<div class="form-group">
				{{ form.submit(class="btn btn-lg btn-info mt-2") }}
			</div>
		</fieldset>
	</form>
{% endblock content %}