{% extends "layout.html" %}
{% block content %}
<h1 align="center"> Processing management GUI </h1>
<hr class="class-5">	

{% if table_failed_processing.items %}
	<h3>Failed processes:</h3>
  {% if table_failed_processing.items|length > 3 %}
    <div class="mb-4 tableFixHead">
  {% else %}
    <div class="mb-4 tableFixHeadShort">
  {%endif %}
  	{{ table_failed_processing }}
  </div>

  <hr class="class-5">	

{% endif %}

<h3>Samples currently being processed:</h3>
{% if table_being_processed.items|length > 3 %}
  <div class="mb-4 tableFixHead">
{% else %}
  <div class="mb-4 tableFixHeadShort">
{% endif %}
    {{ table_being_processed }}
  </div>

<hr class="class-5" >	

<h3>Samples ready to be processed:</h3>
{% if table_ready_to_process.items|length > 3 %}
  <div class="mb-4 tableFixHead">
{% else %}
  <div class="mb-4 tableFixHeadShort">
{% endif %}
    {{ table_ready_to_process }}
  </div>

<hr class="class-5">	

<h3>Samples already processed:</h3>
{% if table_already_processed.items|length > 3 %}
  <div class="mb-4 tableFixHead">
{% else %}
  <div class="mb-4 tableFixHeadShort">
{% endif %}
    {{ table_already_processed }}
  </div>


{% endblock content %}