{% extends "layout.html" %}
{% block content %}
	<h1 align="center"> Pystripe Setup Form </h1>
	<hr class='class-1'>
	<h3> Instructions: </h3>
	<p> For each channel in the table below, type the name of the flat file (or leave it as the default if already correct; this will be the case unless you changed the name manually) that you saved using the FlatGenerate program on the SmartSPIM computer for each channel. Then hit the "start pystripe" button. The flat file (usually "flat.tiff") needs to be saved in the folder that ends in "_stitched" for this request/sample/channel combination. For example for:
	<ul>
		<li> username = "pbibawi" </li>
		<li> request name = "pb_udisco" </li>
		<li> sample name = "pb_udisco_X077" </li>
		<li> imaging request = 1 </li>
		<li> channel name = 488 </li>
	</ul>
	The path to the stitched folder is:
	 <code>/jukebox/LightSheetData/lightserv/pbibawi/pb_udisco/pb_udisco_X077/imaging_request_1/rawdata/resolution_3.6x/Ex_488_Em_0_stitched/</code>. That is where you need to save the flat.tiff file for that request. 
	</br>
	</br>
	 <b>Note</b>: In the table below, you only need to type the name of the file (like: flat.tiff) in the "Flat file name" column. You do not need to enter in all of the folders. The website figures out the folders based on the username, sample_name, etc... If you type in the wrong flat name you will get an error telling you what you need to fix.</p>
 	<hr class='class-2'>

	<!-- BEGIN FORM -->
	<form method="POST" action="">
		{{ form.hidden_tag() }}
		<fieldset class="form-group">
			<!-- Loop over the different image resolutions -->
			<table class="table table-bordered table-striped text-center mb-4">
	            <tr>
	                <th>Microscope</th>
	                <th>Image resolution</th>
	                <th>Channel wavelength(nm)</th>
	                <th>Ventral or Dorsal up?</th>
	                <th>Flat file name</th>
	                <th>Pystripe status</th>
	            </tr>

			{% for ii in range(form.channel_forms|length) %}
				{% set channel_form = form.channel_forms[ii] %}
				<!-- Render hiddenfields -->
				{{ channel_form.username() }}
				{{ channel_form.request_name() }}
				{{ channel_form.sample_name() }}
				{{ channel_form.imaging_request_number() }}
				{{ channel_form.image_resolution() }}
				{{ channel_form.channel_name() }}
				{{ channel_form.ventral_up() }}
				{{ channel_form.pystripe_started() }}
				{{ channel_form.pystripe_status() }}
				{% set image_resolution = channel_form.image_resolution.data %}
				{% set channel_name = channel_form.channel_name.data %}
				{% set ventral_up = channel_form.ventral_up.data %}
				{% set pystripe_started = channel_form.pystripe_started.data == true %}
				<!-- {{ pystripe_started }} -->
				<tr>
	                <td>SmartSPIM</td>
	                <td>{{ image_resolution }}</td>
	                <td>{{ channel_name }}</td>
	                <td>
	                	{% if ventral_up %}
	                		Ventral
	                	{% else %}
	                		Dorsal
	                	{% endif %}
	                </td>
	                <td style="word-wrap: break-word; max-width:200px;">
	                	{% if pystripe_started %}
	                		{{ channel_form.flat_name.data }}
	                	{% else %}
		                	{% if channel_form.flat_name.errors %}
			                	{{ channel_form.flat_name(class="form-control form-control-sm is-invalid",oninput="update_charbox(this)") }}
								<div class="invalid-feedback">
									{% for error in channel_form.flat_name.errors %}
										<span>{{ error }}</span>
									{% endfor %}
								</div>
							{% else %}
								{{ channel_form.flat_name(class="form-control form-control-sm") }}
							{% endif %}
						{% endif %}
	                </td>

	                <td>
	                	{% if pystripe_started %}
	                		{{channel_form.pystripe_status.data}}
	                	{% else %}
		                	<div class="form-group">
								{{ channel_form.start_pystripe(class="btn btn-sm btn-info") }}
							</div>
						{% endif %}
	                </td>
	            </tr>
				
	        {% endfor %} 
		
		</fieldset>
	</form>
{% endblock content %}