**/__pycache__
**/demo.html
**/*pyc
docker
**/.ipynb_checkpoints
startserver.sh
credentials.json
**/token.pickle
**/logs
*.log
screenshots
**/.cache
**/htmlcov
.coverage
**/*pem
scripts
**/id_rsa.pub
**/id_rsa
sshconfig
.dockerenv
.testdockerenv
checkroutes.sh
.vscode
screenshots
**/start_celery_dev.sh
**/start_celery_prod.sh
**/start_flower_dev.sh
**/stop_celery_dev.sh
**/stop_celery_prod.sh
**/stop_flower_dev.sh
**/add_smartspim_to_db.py
setup_prod_schema.py
setup_dev_schema.py
rebuild_dev.sh
rebuild_test.sh
rebuild_prod.sh