**/__pycache__
**/demo.html
**/*pyc
docker
**/.ipynb_checkpoints
startserver.sh
credentials.json
token.pickle
**/logs
*.log
screenshots
**/.cache
**/htmlcov
.coverage
**/*pem
scripts
**/id_rsa.pub
.dockerenv
.testdockerenv