{% extends "layout.html" %}
{% block content %}
	<h1 class="mb-2" align="center">Links to view your data in neuroglancer:</h1>
	{# Raw or stitched data #}

	{% for data_type in url_dict %}
		{% if url_dict[data_type] %}
			<h3> {{data_type}} data: </h3>
			{% set data_type_dict = url_dict[data_type] %}
			<ul>
			{% for image_resolution in data_type_dict %}
				{% set neuroglancerurl = data_type_dict[image_resolution] %}
				<ul>
				<li> <a href={{neuroglancerurl}} target="_blank"> Image resolution: {{ image_resolution }} </a> </li>
				</ul>
			{% endfor %}
		{% endif %}
		</ul>
		
	{% endfor %} {# Loop over data type #}
	

{% endblock content %}