{% extends "layout.html" %}
{% block content %}
	<h1 class="mb-2" align="center">Raw Data Visualization Setup Form</h1>

	<hr class='class-2'>
	<div align="center">
	<h3>Imaging request overview:</h3>
		{{ imaging_request_table }}
	</div>
	<hr class='class-2'>
	<div class="content-section">
		<form method="POST" action="">
			{{ form.hidden_tag() }}
			<fieldset class="form-group">
				<h3 class='border-bottom mb-4'>Setup</h3>
		        <!-- Loop through all image resolution forms and make a table for each -->
				{% for ii in range(form.image_resolution_forms|length) %}
					{% set image_resolution_form = form.image_resolution_forms[ii] %}
					<!-- render the hidden field -->
					{{ image_resolution_form.image_resolution() }}
					{% set image_resolution = image_resolution_form.image_resolution.data %}
					<h4 > Select all channels and light sheets you wish to display in Neuroglancer </h4>
					<table class="table table-bordered table-striped text-center mb-4">
				        <tr>
				            <th>Image resolution </th>
				            <th>Channel wavelength(nm)</th>
				            <th>Dorsal up or Ventral up?</th>
				            <th>Left lightsheet</th>
				            <th>Right lightsheet </th>
				        </tr>

						{% for jj in range(image_resolution_form.channel_forms|length) %}
							{% set channel_form = image_resolution_form.channel_forms[jj] %}
							{% set this_channel_content = channel_contents_lists[ii][jj] %}
							{% set left_lightsheet_used = this_channel_content['left_lightsheet_used'] %}
							{% set right_lightsheet_used = this_channel_content['right_lightsheet_used'] %}
							{% set ventral_up = this_channel_content['ventral_up'] %}
							<!-- render the hidden fields -->
							{{ channel_form.channel_name() }}
							{{ channel_form.ventral_up() }}
							{% set channel_name = channel_form.channel_name.data %}

							<tr>   
							    <td>{{image_resolution}}</td>
							    <td>{{channel_name}}</td>
							    <td>{% if ventral_up %}Ventral{% else %}Dorsal{%endif%}</td>
							    <td> 
							    	{% if left_lightsheet_used %}
							    		<div>							    		
							    			{{ channel_form.viz_left_lightsheet }}
							    		</div>
							    	{% else %}
							    		<div>N/A</div>
							    	{% endif %}
								</td>
								<td>
									{% if right_lightsheet_used %}
							    		<div>							    		
							    			{{ channel_form.viz_right_lightsheet }}
							    		</div>
							    	{% else %}
							    		<div>N/A</div>
							    	{% endif %}
								</td>
							</tr>
					    {% endfor %} <!-- Loop over channel forms resolution forms -->
					</table>
				{% endfor %} <!-- Loop over image resolution forms -->

				
			</fieldset>
			<!-- Final submit button -->
			<hr class='class-3'>
			<div class="form-group">
				{{ form.submit(class="btn btn-success mt-2") }}
			</div>
		</form>

	</div>


{% endblock content %}