{% extends "layout.html" %}
{% block content %}
	<h1 align="center"> Clearing Entry Form </h1>
	<hr class='class-2'>
	<h3 align="center"> Protocol: {{clearing_protocol}}  </h3>
	<hr class='class-1'>
	<h3 align="center"> Overview of clearing batch: </h3>
	<div align="center" class="sticky-top">
		{{ clearing_table }}
		{{ samples_table }}
	</div>
	<hr class='class-2'>
	<div class='mt-2'>
		<label for="notes_for_clearer" id="larger">Notes to the clearer for this batch: </label>
		{% if notes_for_clearer|length > 0 %}
		<textarea style="height:100px" class="form-control form-control-lg" 
		id="notes_for_clearer" name="notes_for_clearer" disabled>{{notes_for_clearer}}</textarea>
		{% else %}
		<textarea class="form-control form-control-lg" 
		id="notes_for_clearer" name="notes_for_clearer" disabled>There were no notes for this batch</textarea>

		{% endif %}			
	</div>

	 <div class="content-section mt-4">
		<form id="clearing_entry_form_{{form_id}}" method="POST" action="">
			{{ form.hidden_tag() }}
			{% set day_dictionary = {'dehydr':'Dehydration','rehydr':'Rehydration','blocking':'Blocking','antibody1':'Primary Antibody','antibody2':'Secondary Antibody','clearing':'Clearing','wash1':'Wash','wash2':'Wash'} %}

			{% if clearing_protocol == 'experimental' %}
				<fieldset class="form-group">
					{{ form.link_to_clearing_spreadsheet.label(id='larger')}}
					{% if form.link_to_clearing_spreadsheet.errors %}
						{{ form.link_to_clearing_spreadsheet(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.link_to_clearing_spreadsheet.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.link_to_clearing_spreadsheet(class="form-control form-control-lg") }}
					{% endif %}
					
					<div class="form-group mt-2">
						{{ form.submit(class="btn btn-success") }}
					</div>
				</fieldset>
			{% else %} {# clearing protocol is not experimental  #}
				<div>
					{{ form.exp_notes.label(id='larger')}}
					{% if form.exp_notes.errors %}
						{{ form.exp_notes(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.exp_notes.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.exp_notes(class="form-control form-control-lg") }}
					{% endif %}
					{{ form.exp_notes_submit(class="btn btn-sm btn-info mt-2") }}
				</div>

				<!-- Loop through the form fields and render them.  -->
				{% set lastday_dict = {'lastday':'perfusion','counter': 0} %}
				{% for key in form._fields %}
					{% if form._fields[key].type == 'DateTimeLocalField' %}
						{% set submit_key = key + '_submit' %}
						{% set notes_key = key[5:] + '_notes' %}
						{% set notes_update_key = key[5:] + '_notes_submit' %}

						{% set thisday = key.split('_')[1] %}
						{% set thisday_date = thisday + '_date' %}
						{% set thisday_date_submit = thisday + '_date_submit' %}
						{% set current_counter = lastday_dict['counter'] %}
						<!-- If the prefix of the form field changes, then it is a new clearing day
						and we need to represent that with a larger title and a new field -->
						{% if thisday != lastday_dict['lastday'] %}
							{{ form[thisday_date].label(class="border-bottom font-weight-bold mt-4",id='larger')}}
							{{ form[thisday_date](class='datepicker') }}
							<button type="button" class="btn btn-sm btn-primary" onclick="autoFillDate(key='{{thisday_date}}')">Autofill with current date</button>
							{{ form[thisday_date_submit](class="btn btn-sm btn-danger") }}
							{% if thisday == 'antibody1' %}
								<p> {{antibody1}} </p>
							{% elif thisday == 'antibody2' %}
								<p> {{antibody2}} </p>
							{% endif %}
							{% set new_counter = current_counter + 1 %}
							<!-- Update the dictionary to store the new day and counter.
							The if statements are just a hack to get the dictionary to update -->
							{% if lastday_dict.update({'lastday':thisday}) %}{% endif %}
							{% if lastday_dict.update({'counter':new_counter}) %}{% endif %}
						{% endif %}
						<div> </br>
							<!-- The datetime form and submit button -->
							{{ form[key].label }}
							{% if form[key].errors %}
								{{ form[key](class="datetime-local is-invalid") }}
								{{ form[submit_key](class="btn btn-sm btn-info") }}
								<div class="invalid-feedback">
								{% for error in form[key].errors %}
									<span>{{ error }}</span>
								{% endfor %}
								</div>
								<!-- </div> -->
							{% else %}
								{{ form[key](class="datetime-local") }}
								<button type="button" class="btn btn-sm btn-primary" onclick="autoFill(key='{{key}}')">Autofill with current timestamp</button>
								{{ form[submit_key](class="btn btn-sm btn-info") }}
							{% endif %}
							</br>
							<!-- The notes for the above datetime column and submit button -->
							{{ form[notes_key].label }}
							{% if form[notes_key].errors %}
								{{ form[notes_key](class="form-control form-control-lg is-invalid") }}
								{{ form[notes_update_key](class="btn btn-sm btn-info mt-2") }}
									<div class="invalid-feedback">
									{% for error in form[notes_key].errors %}
										<span>{{ error }}</span>
									{% endfor %}
									</div>
							{% else %}
								{{ form[notes_key](class="form-control form-control-lg ") }}
								{{ form[notes_update_key](class="btn btn-sm btn-info mt-2") }}
							{% endif %}
							

					</div>
					{% endif %}
				{% endfor %}
				<h5 class="mt-2">Clearing Core notes: If anything unusual happened during clearing, please note it here. </h5>

				{{ form.clearing_notes(class="form-control form-control-lg") }}
				{{ form.clearing_notes_submit(class="btn btn-sm btn-info mt-2") }}
		</div>

	<div class="form-group">
		<input id="submit_modal" name="submit_modal" value="Submit Entry" onclick="myvar=calcBlankFields()" type="button" class="btn btn-danger mt-4" data-toggle="modal" data-target="#submitModal"></input>				
	</div>
	</fieldset>
	{% endif %} {# check whether clearing protocol is experimental #}	

	<!-- Modal -->
	  <div class="modal fade" id="submitModal" tabindex="-1" role="dialog" aria-labelledby="submitModalLabel" aria-hidden="true">
	    <div class="modal-dialog" role="document">
	      <div class="modal-content">
	        <div class="modal-header">
	          <h5 class="modal-title" id="submitModalLabel">Are you sure you want to submit? </h5>
	          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	            <span aria-hidden="true">&times;</span>
	          </button>
	        </div>
			<div class="modal-body">
				<h5 id="testH1"></h5>
			</div>
	        <div class="modal-footer">
	        	<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>           
				{{ form.submit(class="btn btn-success") }}
			</div>
	      </div>
	    </div>
	  </div>

	</form>

	<script> 
		function autoFill(key) { 
			var d = new Date();
			var datestring = d.getFullYear() + "-" + ("0"+(d.getMonth()+1)).slice(-2) + "-" + ("0" + d.getDate()).slice(-2) + "T" + ("0" + d.getHours()).slice(-2) + ":" + ("0" + d.getMinutes()).slice(-2);

			elem = document.getElementById(key)
			elem.value = datestring;
			var myevent = new Event('change');
			// Dispatch it.
			elem.dispatchEvent(myevent);
		}
	</script>

	<script> 
		function autoFillDate(key) { 
			console.log(key);
			var d = new Date();
			var datestring = d.getFullYear() + "-" + ("0"+(d.getMonth()+1)).slice(-2) + "-" + ("0" + d.getDate()).slice(-2);
			var elem = document.getElementById(key);
			// var evt = document.createEvent("HTMLEvents");
			// evt.initEvent("change", false, true);
			elem.value = datestring;
			var myevent = new Event('change');
			// Dispatch it.
			elem.dispatchEvent(myevent);
			// elem.onchange()
		}
	</script>

	<script> 
		function calcBlankFields() {
			{# First loop through and assign a "label" attribute to everything that has it #}

			var labels = document.getElementsByTagName('label');
			for (var i = 0; i < labels.length; i++) {
			    if (labels[i].htmlFor != '') {
			         var elem = document.getElementById(labels[i].htmlFor);
			         if (elem)
			            elem.label = labels[i];         
			    }
			}

			var elements = document.querySelector("form").elements;

			var n_datetime_entries_skipped = 0;
			console.log("Before loop we have:");
			console.log(n_datetime_entries_skipped);
			var missing_entry_names = '' 
			for (var i = 0, element; element = elements[i++];) {
			    if ((element.type === "datetime-local" || element.type == "date") && element.value === "") {
			        n_datetime_entries_skipped += 1;
			        if (element.type === "datetime-local") {
			        	type_str = "timestamp";
					}
					else {
						type_str = "date";
					}
			        missing_entry_names += element.label.innerHTML + " - " + type_str + "<br />"
			        console.log(element.name);
				    }
				}
			console.log("After loop we have:");
			console.log(n_datetime_entries_skipped);
			if (n_datetime_entries_skipped > 0) {
				if (n_datetime_entries_skipped == 1) {
				var warn_text = "There is " + n_datetime_entries_skipped + " blank entry: <br />"  + missing_entry_names;

				}
				else {
				var warn_text = "There are " + n_datetime_entries_skipped + " blank entries: <br />"  + missing_entry_names;
				}
				document.getElementById('testH1').innerHTML=warn_text;
			}
			else {
				document.getElementById('testH1').innerHTML="There are no blank entries.";
			}
			return 
			}
	</script>

{% if column_name %}
	<script>
	window.onload = function() {
	  document.getElementById("{{column_name}}").focus();
	};
	</script>
{% endif %}

<script>    
	$( function() {
		$( "#clearing_entry_form_{{form_id|safe}}" ).sisyphus({autoRelease: false});
		// or you can persist all forms data at one command
		// $( "form" ).sisyphus();
	} );
</script>
{% endblock content %}