{% extends "layout.html" %}
{% block content %}
	<h1 align="center"> Clearing Log </h1>
	<hr class='class-2'>
	<legend align="center">Sample overview:</legend>
	<div align="center">
		{{ overview_table }}
	</div>

	<hr class='class-4'>

		
	<legend>Clearing entry:</legend>

	{{ table }}
	{% if clearing_contents %}
		<input id = "tableSwapper2" type="button"  class="btn btn-sm btn-secondary mt-1" value="Click to change table orientation (vertical/horizontal)"/>
	{% endif %}
	<script type="text/javascript" defer="defer">


		   $("#tableSwapper2").click(function() {
		   MYLIBRARY.swapTable("{{table.table_id}}");
		});
	</script>
{% endblock content %}