{% extends "layout.html" %}
{% block content %}

	<h1 align="center"> Clearing management GUI </h1>
	<hr class="class-5" style="width: 100%">	

	<h3>Batches ready to be cleared:</h3>
	<div style="display:inline-block;">

	 {{ table_ready_to_clear }}

	</div>

	<hr class="class-5" style="width: 100%">	

	<h3>Batches currently being cleared:</h3>
	<div style="display:inline-block;">
		{{ table_being_cleared }}
	<div>


	<hr class="class-5" style="width: 100%">	

	<h3>Batches already cleared:</h3>
	<!-- <div style="display:inline-block;"> -->
	<div>
		{{ table_already_cleared }}
	</div>
{% endblock content %}