{% extends "layout.html" %}
{% block content %}
	{{ clearing_table }}
	 <div class="content-section mt-4">
		<form method="POST" action="">
			{{ form.hidden_tag() }}
			{% set day_dictionary = {'dehydr':'Dehydration','rehydr':'Rehydration','blocking':'Blocking','antibody1':'Primary Antibody','antibody2':'Secondary Antibody','clearing':'Clearing','wash1':'Wash','wash2':'Wash'} %}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">Clearing protocol: {{form.title}}</br></br>Entry log for experiment_id={{experiment_id}}:</legend>
				<div>
					{{ form.exp_notes.label(id='larger')}}
					{% if form.exp_notes.errors %}
						{{ form.exp_notes(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.exp_notes.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.exp_notes(class="form-control form-control-lg") }}
					{% endif %}
					{{ form.exp_notes_submit(class="btn btn-sm btn-info mt-2") }}
				</div>
				<div>
					{{ form.perfusion_date.label(class="border-bottom font-weight-bold mt-4",id='larger')}}
				    {{ form.perfusion_date(class='datepicker') }}
					{{ form.perfusion_date_submit(class="btn btn-sm btn-info") }}
				</div>

				<!-- Loop through the form fields and render them.  -->
				{% set lastday_dict = {'lastday':'perfusion','counter': 2} %}
				{% for key in form._fields %}
					{% if form._fields[key].type == 'DateTimeLocalField' %}
						{% set submit_key = key + '_submit' %}
						{% set notes_key = key[5:] + '_notes' %}
						{% set notes_update_key = key[5:] + '_notes_submit' %}

						{% set thisday = key.split('_')[1] %}
						{% set thisday_date = thisday + '_date' %}
						{% set thisday_date_submit = thisday + '_date_submit' %}
						{% set current_counter = lastday_dict['counter'] %}
						<!-- If the prefix of the form field changes, then it is a new clearing day
						and we need to represent that with a larger title and a new field -->
						{% if thisday != lastday_dict['lastday'] %}
							{{ form[thisday_date].label(class="border-bottom font-weight-bold mt-4",id='larger')}}
							{{ form[thisday_date](class='datepicker') }}
							{{ form[thisday_date_submit](class="btn btn-sm btn-danger") }}
							{% set new_counter = current_counter + 1 %}
							<!-- Update the dictionary to store the new day and counter -->
							{% if lastday_dict.update({'lastday':thisday}) %}{% endif %}
							{% if lastday_dict.update({'counter':new_counter}) %}{% endif %}
						{% endif %}
						<div> </br>
							{{ form[key].label }}
							
							{{ form[key](class='datetime-local') }}
							{{ form[submit_key](class="btn btn-sm btn-info") }}
							</br>
							{{ form[notes_key].label }}
							{% if form[notes_key].errors %}
								{{ form[notes_key](class="form-control form-control-lg is-invalid") }}
								{{ form[notes_update_key](class="btn btn-sm btn-info mt-2") }}
									<div class="invalid-feedback">
									{% for error in form[notes_key].errors %}
										<span>{{ error }}</span>
									{% endfor %}
							{% else %}
								{{ form[notes_key](class="form-control form-control-lg ") }}
								{{ form[notes_update_key](class="btn btn-sm btn-info mt-2") }}
							{% endif %}
							

						</div>
					{% endif %}
				{% endfor %}
			</fieldset>
			<h5 class="mt-2">Clearing Core notes: If anything unusual happened during clearing, please note it here. </h5>

			{{ form.clearing_notes(class="form-control form-control-lg") }}
			{{ form.clearing_notes_submit(class="btn btn-sm btn-info mt-2") }}
			<div class="form-group">
				{{ form.submit(class="btn btn-success mt-4") }}
			</div>
		</form>
	</div>
{% if column_name %}
<script>
window.onload = function() {
  document.getElementById("{{column_name}}").focus();
};
</script>
{% endif %}


{% endblock content %}