{% extends "layout.html" %}
{% block content %}
	<h3>Sample overview:</h3>
		{{ imaging_table }}

	<hr class='class-1'>

	<h3>Imaging setup:</h3>
	<h5>Notes from the researcher:</h5>

	<div class='content-section'>
		<p>
			{% if sample_dict['notes_for_imager'] %}
				{{ sample_dict['notes_for_imager'] }}
			{% else %}
				No special notes
			{% endif %}
		</p>
	</div>
	<form method="POST" action="">
	{{ form.hidden_tag() }}
	<fieldset class="form-group">
	<table class="table table-bordered table-striped text-center mb-4">
        <tr>
            <th>Channel wavelength(nm)</th>
            <th>Image resolution requested</th>
            <th>*Image resolution used</th>
           	<th>*Tiling scheme </th>
           	<th>*Tiling overlap </th>
           	<th>*Z_step (microns) </th>
           	<th>*Number of Z planes </th>
        </tr>

	{% for ii in range(channel_contents_dict|length) %}
		{% set channel_entry = form.channels[ii] %}
		{% set channel_content = channel_contents_dict[ii] %}
		{% set channel_name = channel_content['channel_name'] %}
		<!-- Render the hidden field for channel_name so it propagates through submission -->
		{{ channel_entry.channel_name() }}
			<tr>   
			    <td>{{channel_name}}</td>
			    <td>{{channel_content.image_resolution_requested}}</td>
			    <td>{{channel_entry.image_resolution_used}}</td>
			    <td>
			    	<div class="form-group">
						{% if channel_entry.tiling_scheme.errors %}
							{{ channel_entry.tiling_scheme(class="form-control form-control-sm is-invalid") }}
							<div class="invalid-feedback">
								{% for error in channel_entry.tiling_scheme.errors %}
									<span>{{ error }}</span>
								{% endfor %}
							</div>
						{% else %}
							{{ channel_entry.tiling_scheme(class="form-control form-control-sm") }}
							Some more text
						{% endif %}
					</div>
				</td>
			    <td>{{channel_entry.tiling_overlap(class='form-control form-control-sm')}}</td>
			    <td>{{channel_entry.z_resolution(class='form-control form-control-sm')}}</td>
			    <td>{{channel_entry.number_of_z_planes(class='form-control form-control-sm')}}</td>
			</tr>
	{% endfor %}
    </table>

    <div class="form-group">
		{% if form.notes_from_imaging.flags.required %}*{% endif %}
		{{ form.notes_from_imaging.label(class="form-control-label") }}
		{% if form.notes_from_imaging.errors %}
			{{ form.notes_from_imaging(class="form-control form-control-lg is-invalid") }}
			<div class="invalid-feedback">
				{% for error in form.notes_from_imaging.errors %}
					<span>{{ error }}</span>
				{% endfor %}
			</div>
		{% else %}
			{{ form.notes_from_imaging(class="form-control form-control-lg") }}
		{% endif %}
	</div>
	<hr class='class-1'>

	<div>
		<h3>Move the raw data folders to:</h3>
		<p>
			/jukebox/LightSheetData/{{sample_dict['username']}}/{{sample_dict['experiment_name']}}/{{sample_dict['sample_name']}}
		</p>
	</div>


		<div class="form-group">
			{{ form.submit(class="btn btn-lg btn-info mt-2") }}
		</div>
	</fieldset>
</form>

{% if column_name %}
	<script>
	window.onload = function() {
	  document.getElementById("{{column_name}}").focus();
	};
	</script>
{% endif %}


{% endblock content %}