{% extends "layout.html" %}
{% block content %}
<h1 align="center"> Imaging management GUI </h1>
<hr class="class-5">	

<h3>Batches currently being imaged:</h3>
{% if table_being_imaged.items|length > 3 %}
  <div class="mb-4 tableFixHead">
{% else %}
  <div class="mb-4 tableFixHeadShort">
{% endif %}
    {{ table_being_imaged }}
  </div>

<hr class="class-5">	

<h3>Batches ready to be imaged:</h3>
{% if table_ready_to_image.items|length > 3 %}
  <div class="mb-4 tableFixHead">
{% else %}
  <div class="mb-4 tableFixHeadShort">
{% endif %}
    {{ table_ready_to_image }}
  </div>
<hr class="class-5">	

<h3>Batches still in clearing stage:</h3>
{% if table_on_deck.items|length > 3 %}
  <div class="mb-4 tableFixHead">
{% else %}
  <div class="mb-4 tableFixHeadShort">
{% endif %}
    {{ table_on_deck }}
  </div>

<hr class="class-5">	

<h3>Batches already imaged:</h3>
{% if table_already_imaged.items|length > 3%}
  <div class="mb-4 tableFixHead">
{% else %}
  <div class="mb-4 tableFixHeadShort">
{% endif %}
    {{ table_already_imaged }}
  </div>

<hr class="class-5">
	<h3> Key: </h3>
	<hr class="class-2">	
	N/A : "Not Assigned"

	<div class='my-legend'>
	<div class='legend-scale'>
	  <ul class='legend-labels'>
	    
	    <li class='mb-4'><span style='background:#757680;'></span>Follow-up imaging request</li>
	  </ul>
	</div>
	</div>


{% endblock content %}