{% extends "layout.html" %}
{% block content %}
	<h1 align="center"> Imaging Entry Form </h1>
	<hr class='class-1'>
	<div align="center">
		<h2>Imaging batch overview:</h2>
		{{ imaging_table }}
	</div>
	<div class='mt-2'>
		<h5 align="left"> Samples in this batch to be imaged: </h5>
		<ul> 
			{% for ii in range(sample_dict_list|length) %}
				{% set sample_dict = sample_dict_list[ii] %}
				<li> {{ sample_dict['sample_name']}} </li>
			{% endfor %}
		</ul>
	</div>

	<form method="POST" action="">
		{{ form.hidden_tag() }}
		<hr class='class-1'>
		<div class='card bg-info sticky-top mb-4' align="center"> 
			<div class='card-body'>
				<h3> Enter batch parameters</h3>
			</div>
		</div>
		<h4>Complete the table for each image resolution requested:  </h4>
		<fieldset class="form-group">

		{% for ii in range(form.image_resolution_batch_forms|length) %}
			{% set image_resolution_form = form.image_resolution_batch_forms[ii] %}
			<!-- Render hiddenfield for image resolution -->
			{{ image_resolution_form.image_resolution() }}
			{% set image_resolution = image_resolution_form.image_resolution.data %}
			<hr class='class-2'>
			{% if image_resolution == '2x' %}
				<h3 class='infolink' data-toggle="tooltip" title="Make sure to use organic dipping cap on 2x objective if sample went through oil-based clearing protocol like iDISCO or uDISCO."> ({{ ii + 1 }}/{{form.image_resolution_batch_forms|length }}) Image resolution: {{ image_resolution }} </h3>
	        {% else %}
				<h3 class='infolink' data-toggle="tooltip" title="Do NOT use the zoom body (at a value other than 1) for this objective. If you do, we will very likely not be able to process the images. An exception is if no processing is needed (i.e. only raw images are required)."> ({{ ii + 1 }}/{{form.image_resolution_batch_forms|length }}) Image resolution: {{ image_resolution }} </h3>
			{% endif %}
			<div class="checkbox mb-2">
				{{ image_resolution_form.change_resolution(class="form-check-input",onchange="togglefield(this)") }}
				{{ image_resolution_form.change_resolution.label(class="form-check-label") }}
			</div>
			
			<div class="form-group" id="batch_new_image_resolution_div_{{ii}}" style="display: none">
				{{ image_resolution_form.new_image_resolution.label }}
				{{ image_resolution_form.new_image_resolution(class="form-control form-control-lg") }}
				<input id="batch_update_resolution_modal_{{image_resolution}}" name="batch_update_resolution_modal_{{image_resolution}}" value="Update" type="button" class="btn btn-danger mt-2" data-toggle="modal" data-target="#batchUpdateResolutionModal_{{image_resolution}}"></input>	
				<!-- Modal for batch update resolution -->
				<div class="modal fade" id="batchUpdateResolutionModal_{{image_resolution}}" tabindex="-1" role="dialog" aria-labelledby="batchUpdateResolutionModalLabel_{{image_resolution}}" aria-hidden="true">
					<div class="modal-dialog" role="document">
					<div class="modal-content">
					<div class="modal-header">
					<h5 class="modal-title" id="batchUpdateResolutionModalLabel_{{image_resolution}}">Are you sure you want to update? </h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
					</button>
					</div>
					<div class="modal-body">
					<p>Hitting update will change the resolution for all samples in this batch. 
					If you want to update the resolution for a single sample only, do that in the 
					individual sample section below. </p>
					</div>
					<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>           
					{{ image_resolution_form.update_resolution_button(class="btn btn-success") }}
					</div>
					</div>
					</div>
				</div>			
			</div>
			
			<table id="batch_resolution_{{image_resolution}}_table" class="table table-bordered table-striped text-center mb-4">
		        <tr>
		            <th>Channel wavelength(nm)</th>
		            <th>Image resolution </th>
		            {% if image_resolution == '2x' %}
			            <th class="infolink" data-toggle="tooltip" title="Set to a discrete value on the dial. Otherwise, it will be impossible to accurately calculate the resulting image pixel size.">Zoom body magnification</th>
			        {% endif %}
		            <th>Image orientation </th>
		            <th>Lightsheets used </th>
		           	<th>Tiling scheme (e.g. 1x1, 3x3)  </th>
		           	<th class="infolink" data-toggle="tooltip" title="Only matters if tiling scheme is not 1x1">Tiling overlap (e.g. 0.2) </th>
		           	<th>Z_step (microns) </th>
		        </tr>

			{% for jj in range(image_resolution_form.channel_forms|length) %}
				{% set channel_form = image_resolution_form.channel_forms[jj] %}
				<!-- Render the hidden fields so they propagate through submission -->
				{{ channel_form.channel_name() }}
				{% set channel_name = channel_form.channel_name.data  %}
				{{ channel_form.image_resolution() }}

					<tr>   
					    <td>{{channel_name}}</td>
					    <td>{{image_resolution}}</td>
					    {% if image_resolution == '2x' %}
				        	<td>
						    	<div class="form-group">
									{% if channel_form.zoom_body_magnification.errors %}
										{{ channel_form.zoom_body_magnification(class="form-control form-control-sm is-invalid") }}
										<div class="invalid-feedback">
											{% for error in channel_form.zoom_body_magnification.errors %}
												<span>{{ error }}</span>
											{% endfor %}
										</div>
									{% else %}
										{{ channel_form.zoom_body_magnification(class="form-control form-control-sm") }}
									{% endif %}
								</div>
							</td>
				        {% endif %}
					    <td>
					    	<div class="form-group">
								{% if channel_form.image_orientation.errors %}
									{{ channel_form.image_orientation(class="form-control form-control-sm is-invalid") }}
									<div class="invalid-feedback">
										{% for error in channel_form.image_orientation.errors %}
											<span>{{ error }}</span>
										{% endfor %}
									</div>
								{% else %}
									{{ channel_form.image_orientation(class="form-control form-control-sm") }}
								{% endif %}
							</div>
						</td>
					    {% if channel_form.left_lightsheet_used.errors or channel_form.right_lightsheet_used.errors %}
						    <td class="table-danger">
						{% else %}
							<td>
						{% endif %}
					    	<div class="checkbox mb-2" align="left">
								{{ channel_form.left_lightsheet_used }}
								{{ channel_form.left_lightsheet_used.label(class="form-check-label") }}
							</div>
							<div class="checkbox mb-2" align="left">
								{{ channel_form.right_lightsheet_used }}
								{{ channel_form.right_lightsheet_used.label(class="form-check-label") }}
							</div>
						{% if channel_form.left_lightsheet_used.errors or channel_form.right_lightsheet_used.errors %}
							<span class="text-danger"> At least one must be selected </span>
						{% endif %}

					    </td>
					    <td>
					    	<div class="form-group">
								{% if channel_form.tiling_scheme.errors %}
									{{ channel_form.tiling_scheme(class="form-control form-control-sm is-invalid") }}
									<div class="invalid-feedback">
										{% for error in channel_form.tiling_scheme.errors %}
											<span>{{ error }}</span>
										{% endfor %}
									</div>
								{% else %}
									{{ channel_form.tiling_scheme(class="form-control form-control-sm") }}
								{% endif %}
							</div>
						</td>
					    <td>
							<div class="form-group">
								{% if channel_form.tiling_overlap.errors %}
									{{ channel_form.tiling_overlap(class="form-control form-control-sm is-invalid") }}
									<div class="invalid-feedback">
										{% for error in channel_form.tiling_overlap.errors %}
											<span>{{ error }}</span>
										{% endfor %}
									</div>
								{% else %}
									{{ channel_form.tiling_overlap(class="form-control form-control-sm") }}
								{% endif %}
							</div>
					    </td>
					    <td>
					    	<div class="form-group">
								{% if channel_form.z_step.errors %}
									{{ channel_form.z_step(class="form-control form-control-sm is-invalid") }}
									<div class="invalid-feedback">
										{% for error in channel_form.z_step.errors %}
											<span>{{ error }}</span>
										{% endfor %}
									</div>
								{% else %}
									{{ channel_form.z_step(class="form-control form-control-sm") }}
								{% endif %}
							</div>
					    </td>
					</tr>
					
			{% endfor %} <!-- loop over channel forms -->
			{# Add additional imaging channel #}
			{% if image_resolution_form.channel_forms|length < 4 %}
				<tr>
					<td>
						{{ image_resolution_form.new_channel_dropdown.label(class="form-control-label")}}
						{{ image_resolution_form.new_channel_dropdown(class="form-control form-control-sm mb-2")  }}
						{{ image_resolution_form.new_channel_purpose.label(class="form-control-label")}}
						{{ image_resolution_form.new_channel_purpose(class="form-control form-control-sm mb-2")  }}
						<input id="batch_add_channel_modal" name="batch_add_channel_modal" value="Add channel" type="button" class="btn btn-danger mt-2" data-toggle="modal" data-target="#batchAddChannelModal"></input>	
						
						<!-- Modal for new channel button -->
						<div class="modal fade" id="batchAddChannelModal" tabindex="-1" role="dialog" aria-labelledby="batchAddChannelModalLabel" aria-hidden="true">
							<div class="modal-dialog" role="document">
							<div class="modal-content">
							<div class="modal-header">
							<h5 class="modal-title" id="batchAddChannelModalLabel">Are you sure you want to add this channel? </h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
							</button>
							</div>
							<div class="modal-body">
							<p>This will add this channel for all samples in this batch. 
							If you want to add a channel for a single sample only, do that in the 
							individual sample section below. </p>
							</div>
							<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>           
							{{ image_resolution_form.new_channel_button(class="btn btn-success") }}
							</div>
							</div>
							</div>
						</div>	

					</td>
					<td>{{image_resolution}}</td>
				</tr>
			{% endif %}
		    </table>
		{% endfor %} <!-- loop over image resolution forms -->
	    <div class="form-group">
	        {{ form.apply_batch_parameters_button(class="btn btn-success ",formnovalidate=True) }}
	    </div>
		
	<hr class='class-1'>
	<h2 class='mb-4'> Enter remaining specific parameters for each sample in this batch</h2>
	<fieldset class="form-group">
	{% for kk in range(sample_dict_list|length) %}
		{% set sample_name = sample_dict_list[kk]['sample_name'] %}
		{% set sample_form = form.sample_forms[kk] %}
			<!-- Render hidden sample_name so that it can be extracted when form is submitted -->
		{{ sample_form.sample_name() }}
		{% set imaging_progress_this_sample = samples_imaging_progress_dict[sample_name] %}
		{% if imaging_progress_this_sample == "complete" %}
			<div class='card bg-info sticky-top mb-4' align="center">
				<div class='card-body'>
					<s> <h3> Sample {{kk+1}}/{{sample_dict_list|length}}: {{sample_name}} </h3></s>
					<h5> Sample has been imaged <h5>
				</div>
			</div>
		{% else %}
			<div class='card bg-info sticky-top mb-4' align="center">
				<div class='card-body'>
					<h3> Sample {{kk+1}}/{{sample_dict_list|length}}: {{sample_name}} </h3>
				</div>
			</div>
			
			{% for ii in range(sample_form.image_resolution_forms|length) %}
				{% set image_resolution_form = sample_form.image_resolution_forms[ii] %}
				<!-- Render hiddenfield for image resolution -->
				{{ image_resolution_form.image_resolution() }}
				{% set image_resolution = image_resolution_form.image_resolution.data %}

				<hr class='class-2'>
				{% if image_resolution == '2x' %}
					<h3 class='infolink' data-toggle="tooltip" title="Make sure to use organic dipping cap on 2x objective if sample went through oil-based clearing protocol like iDISCO or uDISCO."> ({{ ii + 1 }}/{{sample_form.image_resolution_forms|length }}) Image resolution: {{ image_resolution }} </h3>
		        {% else %}
					<h3 id="sample_{{kk}}_image_resolution_header_{{ii}}" class='infolink' data-toggle="tooltip" title="Do NOT use the zoom body (at a value other than 1) for this objective. If you do, we will very likely not be able to process the images. An exception is if no processing is needed (i.e. only raw images are required).">({{ ii + 1 }}/{{sample_form.image_resolution_forms|length }}) Image resolution: {{ image_resolution}}</h3>
				{% endif %}


				<div class="checkbox mb-2">
					{{ image_resolution_form.change_resolution(class="form-check-input",onchange="togglefield(this)") }}
					{{ image_resolution_form.change_resolution.label(class="form-check-label") }}
				</div>
				
				<div class="form-group" id="sample_{{kk}}_new_image_resolution_div_{{ii}}" style="display: none">
					{{ image_resolution_form.new_image_resolution.label }}
					{{ image_resolution_form.new_image_resolution(class="form-control form-control-lg") }}
					<input id="{{sample_name}}_update_resolution_modal_{{image_resolution}}" name="{{sample_name}}_update_resolution_modal_{{image_resolution}}" value="Update" type="button" class="btn btn-danger mt-2" data-toggle="modal" data-target="#{{sample_name}}_UpdateResolutionModal_{{image_resolution}}"></input>	
					<!-- Modal for sample update resolution -->
					<div class="modal fade" id="{{sample_name}}_UpdateResolutionModal_{{image_resolution}}" tabindex="-1" role="dialog" aria-labelledby="{{sample_name}}_UpdateResolutionModalLabel_{{image_resolution}}" aria-hidden="true">
						<div class="modal-dialog" role="document">
						<div class="modal-content">
						<div class="modal-header">
						<h5 class="modal-title" id="{{sample_name}}_UpdateResolutionModalLabel_{{image_resolution}}">Are you sure you want to update? </h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
						</button>
						</div>
						<div class="modal-body">
						<p>Hitting update will change the resolution for this sample only: {{sample_name}}. </p>
						</div>
						<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>           
						{{ image_resolution_form.update_resolution_button(class="btn btn-success") }}
						</div>
						</div>
						</div>
					</div>			
				</div>
				
				<div class='row'>
					<div class="form-group col">
						{{ image_resolution_form.notes_for_clearer.label(class="form-control-label")}}
						{{ image_resolution_form.notes_for_clearer(readonly=true, class="form-control form-control-lg") }}
					</div>
					<div class="form-group col">
						{{ image_resolution_form.notes_for_imager.label(class="form-control-label")}}
						{{ image_resolution_form.notes_for_imager(readonly=true, class="form-control form-control-lg") }}
					</div>
				</div>

				<hr class='class-2'>
				<p>* Indicates a required field </p>	
				<table id="sample_{{kk}}_resolution_{{image_resolution}}_table" class="table table-bordered table-striped text-center mb-4">
			        <tr>
			            <th>Channel wavelength(nm)</th>
			            <th>Image resolution </th>
			            {% if image_resolution == '2x' %}
				            <th class="infolink" data-toggle="tooltip" title="Set to a discrete value on the dial. Otherwise, it will be impossible to accurately calculate the resulting image pixel size.">Zoom body magnification</th>
				        {% endif %}
			            <th>*Image orientation </th>
			            <th>*Lightsheets used </th>
			           	<th>*Tiling scheme (e.g. 1x1, 3x3)  </th>
			           	<th class="infolink" data-toggle="tooltip" title="Only matters if tiling scheme is not 1x1">*Tiling overlap (e.g. 0.2) </th>
			           	<th>*Z_step (microns) </th>
			           	<th>*Number of Z planes </th>
			        </tr>
			           	

				{% for jj in range(image_resolution_form.channel_forms|length) %}
					{% set channel_form = image_resolution_form.channel_forms[jj] %}
					
					<!-- Render the hidden fields so they propagate through submission -->
					{{ channel_form.channel_name() }}
					{% set channel_name = channel_form.channel_name.data %}
					{{ channel_form.image_resolution() }}

						<tr>   
						    <td>{{channel_name}}</td>
						    <td>{{image_resolution}}</td>
						    {% if image_resolution == '2x' %}
					        	<td>
							    	<div class="form-group">
										{% if channel_form.zoom_body_magnification.errors %}
											{{ channel_form.zoom_body_magnification(class="form-control form-control-sm is-invalid") }}
											<div class="invalid-feedback">
												{% for error in channel_form.zoom_body_magnification.errors %}
													<span>{{ error }}</span>
												{% endfor %}
											</div>
										{% else %}
											{{ channel_form.zoom_body_magnification(class="form-control form-control-sm") }}
										{% endif %}
									</div>
								</td>
					        {% endif %}
						    <td>
						    	<div class="form-group">
									{% if channel_form.image_orientation.errors %}
										{{ channel_form.image_orientation(class="form-control form-control-sm is-invalid") }}
										<div class="invalid-feedback">
											{% for error in channel_form.image_orientation.errors %}
												<span>{{ error }}</span>
											{% endfor %}
										</div>
									{% else %}
										{{ channel_form.image_orientation(class="form-control form-control-sm") }}
									{% endif %}
								</div>
							</td>
							{% if channel_form.left_lightsheet_used.errors or channel_form.right_lightsheet_used.errors %}
							    <td class="table-danger">
							{% else %}
								<td>
							{% endif %}
						    	
							    	<div class="checkbox mb-2" align="left">
										{{ channel_form.left_lightsheet_used }}
										{{ channel_form.left_lightsheet_used.label(class="form-check-label") }}
									</div>
									<div class="checkbox mb-2" align="left">
										{{ channel_form.right_lightsheet_used }}
										{{ channel_form.right_lightsheet_used.label(class="form-check-label") }}
									</div>
								{% if channel_form.left_lightsheet_used.errors or channel_form.right_lightsheet_used.errors %}
									<span class="text-danger"> At least one must be selected </span>
								{% endif %}

						    </td>
						    <td>
						    	<div class="form-group">
									{% if channel_form.tiling_scheme.errors %}
										{{ channel_form.tiling_scheme(class="form-control form-control-sm is-invalid") }}
										<div class="invalid-feedback">
											{% for error in channel_form.tiling_scheme.errors %}
												<span>{{ error }}</span>
											{% endfor %}
										</div>
									{% else %}
										{{ channel_form.tiling_scheme(class="form-control form-control-sm") }}
									{% endif %}
								</div>
							</td>
						    <td>
								<div class="form-group">
									{% if channel_form.tiling_overlap.errors %}
										{{ channel_form.tiling_overlap(class="form-control form-control-sm is-invalid") }}
										<div class="invalid-feedback">
											{% for error in channel_form.tiling_overlap.errors %}
												<span>{{ error }}</span>
											{% endfor %}
										</div>
									{% else %}
										{{ channel_form.tiling_overlap(class="form-control form-control-sm") }}
									{% endif %}
								</div>
						    </td>
						    <td>
						    <div class="form-group">
								{% if channel_form.z_step.errors %}
									{{ channel_form.z_step(class="form-control form-control-sm is-invalid") }}
									<div class="invalid-feedback">
										{% for error in channel_form.z_step.errors %}
											<span>{{ error }}</span>
										{% endfor %}
									</div>
								{% else %}
									{{ channel_form.z_step(class="form-control form-control-sm") }}
								{% endif %}
							</div>
							</td>
						    <td>
							    <div class="form-group">
									{% if channel_form.number_of_z_planes.errors %}
										{{ channel_form.number_of_z_planes(class="form-control form-control-sm is-invalid") }}
										<div class="invalid-feedback">
											{% for error in channel_form.number_of_z_planes.errors %}
												<span>{{ error }}</span>
											{% endfor %}
										</div>
									{% else %}
										{{ channel_form.number_of_z_planes(class="form-control form-control-sm") }}
									{% endif %}
								</div>
							</td>
							
						</tr>
						<tr>
				        	<th>*Rawdata subfolder </th>
							<td colspan="7">
								<div class="form-group">
									{% if channel_form.rawdata_subfolder.errors %}
										{{ channel_form.rawdata_subfolder(class="form-control form-control-sm is-invalid") }}
										<div class="invalid-feedback">
											{% for error in channel_form.rawdata_subfolder.errors %}
												<span>{{ error }}</span>
											{% endfor %}
										</div>
									{% else %}
										{{ channel_form.rawdata_subfolder(class="form-control form-control-sm") }}
									{% endif %}
								</div>
							</td>
						</tr>
						<tr>
							<td></td>
						</tr>
						
				{% endfor %} <!-- loop over channel forms -->
				{# Add additional imaging channel #}
				{% if image_resolution_form.channel_forms|length < 4 %}
					<tr>
						<td>
							{{ image_resolution_form.new_channel_dropdown.label(class="form-control-label")}}
							{{ image_resolution_form.new_channel_dropdown(class="form-control form-control-sm mb-2")  }}
							{{ image_resolution_form.new_channel_purpose.label(class="form-control-label")}}
							{{ image_resolution_form.new_channel_purpose(class="form-control form-control-sm mb-2")  }}
							{{ image_resolution_form.new_channel_button(class="btn btn-sm btn-info") }}

						</td>
						<td>{{image_resolution}}</td>
					</tr>
				{% endif %}
			    </table>
			{% endfor %} <!-- loop over image resolution forms -->
			<div class="form-group">
				{% if sample_form.notes_from_imaging.flags.required %}*{% endif %}
				{{ sample_form.notes_from_imaging.label(class="form-control-label") }}
				{% if sample_form.notes_from_imaging.errors %}
					{{ sample_form.notes_from_imaging(class="form-control form-control-lg is-invalid") }}
					<div class="invalid-feedback">
						{% for error in sample_form.notes_from_imaging.errors %}
							<span>{{ error }}</span>
						{% endfor %}
					</div>
				{% else %}
					{{ sample_form.notes_from_imaging(class="form-control form-control-lg") }}
				{% endif %}
			</div>
			{% set rawdata_filepath = rawdata_rootpath + '/' + sample_name + '/imaging_request_1/rawdata/' %}
			<div>
			<h3 class="infolink" data-toggle='tooltip' title='Make sure not to overwrite folders and do not put data from two different imaging channels into the same subfolder unless they were read-out from the microscope that way'>
			Move or copy all raw data folders from the microscope computer to the correct folder on bucket: </h3>
			<p>
				<code>{{rawdata_filepath}}resolution_<b>XX</b></code></br></br>
				where <b>XX</b> is the resolution of the images, e.g. "1.1x", "1.3x", "2x", "3.6x" or "4x".</br></br>
				The resolution_XX/ folder may not already exist inside of the rawdata/ folder. If it does not already exist,
				first make the resolution folder before moving the rawdata subfolder. 
			</p>
			<p>
				For example, say you took images in channel 488 for image resolution 1.3x for this brain and you saved
				these raw images in a folder called test488 on the microscope computer. In that case, you would
				first create the folder on bucket: </br>
				<code>{{rawdata_filepath}}resolution_1.3x/ </code></br></br>
				and then move the data folder from the microscope to this new folder: </br>
				<code>scp test488 {{rawdata_filepath}}resolution_1.3x/</code>
			</p>

		</div>

		<div class="form-group">
			{{ sample_form.submit(class="btn btn-lg btn-info mt-2") }}
		</div>
		<hr class='class-1'>

	{% endif %} <!-- If clause for whether this sample is already complete-->

	{% endfor %} <!-- loop over samples -->


	<!-- Only show final submit button when there are no more active samples -->
	{% if n_active_samples == 0 %}
		<div class="form-group">
			{{ form.submit(class="btn btn-lg btn-success mt-2") }}
		</div>
	{% endif %}
	</fieldset>
	
</form>

{% if column_name %}
	<script>
	window.onload = function() {
	  document.getElementById("{{column_name}}").focus();
	};
	</script>
{% endif %}

<script>
function togglefield(checkboxElem) {
	console.log(checkboxElem)
	var checkboxId = checkboxElem.id;
	if (checkboxId.startsWith('image_resolution_batch_forms')) {
		// console.log(checkboxId.split("-"));
		var image_resolution_form_index = checkboxId.split("-")[1];
		var divname = "batch_new_image_resolution_div_" + image_resolution_form_index;
	}
	else if (checkboxId.startsWith('sample_forms')) {
		var sample_form_index = checkboxId.split("-")[1];
		var image_resolution_form_index = checkboxId.split("-")[3];
		var divname="sample_" + sample_form_index + "_new_image_resolution_div_" + image_resolution_form_index
	}
	var x = document.getElementById(divname);
	console.log(x)
	if (checkboxElem.checked) {
		x.style.display = "block";
	} 
	else {
		x.style.display = "none";
	}
}
</script>

{% endblock content %}