{% extends "layout.html" %}
{% block content %}
	<h1 align="center"> Imaging Entry Form </h1>
	<hr class='class-1'>
	<h2 align="center">Imaging request overview:</h2>
	<div align="center">
		{{ imaging_table }}
	</div>


	<form method="POST" action="">
	{{ form.hidden_tag() }}
	<hr class='class-1'>
	<h2 class='mb-2'> Complete the table for each image resolution requested:  </h2>
	<fieldset class="form-group">

	{% for ii in range(form.image_resolution_forms|length) %}
		{% set image_resolution_form = form.image_resolution_forms[ii] %}
		<!-- Render hiddenfield for image resolution -->
		{{ image_resolution_form.image_resolution() }}
		{% set image_resolution = image_resolution_form.image_resolution.data %}

		<hr class='class-2'>
		{% if image_resolution == '2x' %}
			<h3 class='mb-4 infolink' data-toggle="tooltip" title="Make sure to use organic dipping cap on 2x objective if sample went through oil-based clearing protocol like iDISCO or uDISCO."> ({{ ii + 1 }}/{{form.image_resolution_forms|length }}) Image resolution: {{ image_resolution }} </h3>
        {% else %}
			<h3 class='mb-4 infolink' data-toggle="tooltip" title="Do NOT use the zoom body (at a value other than 1) for this objective. If you do, we will very likely not be able to process the images. An exception is if no processing is needed (i.e. only raw images are required)."> ({{ ii + 1 }}/{{form.image_resolution_forms|length }}) Image resolution: {{ image_resolution }} </h3>
		{% endif %}
		<div class="form-group">
			{{ image_resolution_form.notes_for_imager.label(class="form-control-label")}}
			{{ image_resolution_form.notes_for_imager(readonly=true, class="form-control form-control-lg") }}
		</div>

		<hr class='class-2'>

		<table class="table table-bordered table-striped text-center mb-4">
	        <tr>
	            <th>Channel wavelength(nm)</th>
	            <th>Image resolution </th>
	            {% if image_resolution == '2x' %}
		            <th class="infolink" data-toggle="tooltip" title="Set to a discrete value on the dial. Otherwise, it will be impossible to accurately calculate the resulting image pixel size.">Zoom body magnification</th>
		        {% endif %}
	            <th>*Image orientation </th>
	            <th>*Lightsheets used </th>
	           	<th>*Tiling scheme (e.g. 1x1, 3x3)  </th>
	           	<th class="infolink" data-toggle="tooltip" title="Only matters if tiling scheme is not 1x1">*Tiling overlap (e.g. 0.2) </th>
	           	<th>*Z_step (microns) </th>
	           	<th>*Number of Z planes </th>
	        </tr>

		{% for jj in range(image_resolution_form.channel_forms|length) %}
			{% set channel_form = image_resolution_form.channel_forms[jj] %}
			{% set channel_content = channel_contents_lists[ii][jj] %}
			{% set channel_name = channel_content['channel_name'] %}
			<!-- Render the hidden fields so they propagate through submission -->
			{{ channel_form.channel_name() }}
			{{ channel_form.image_resolution() }}

				<tr>   
				    <td>{{channel_name}}</td>
				    <td>{{image_resolution}}</td>
				    {% if image_resolution == '2x' %}
			        	<td>
					    	<div class="form-group">
								{% if channel_form.zoom_body_magnification.errors %}
									{{ channel_form.zoom_body_magnification(class="form-control form-control-sm is-invalid") }}
									<div class="invalid-feedback">
										{% for error in channel_form.zoom_body_magnification.errors %}
											<span>{{ error }}</span>
										{% endfor %}
									</div>
								{% else %}
									{{ channel_form.zoom_body_magnification(class="form-control form-control-sm") }}
								{% endif %}
							</div>
						</td>
			        {% endif %}
				    <td>
				    	<div class="form-group">
							{% if channel_form.image_orientation.errors %}
								{{ channel_form.image_orientation(class="form-control form-control-sm is-invalid") }}
								<div class="invalid-feedback">
									{% for error in channel_form.image_orientation.errors %}
										<span>{{ error }}</span>
									{% endfor %}
								</div>
							{% else %}
								{{ channel_form.image_orientation(class="form-control form-control-sm") }}
							{% endif %}
						</div>
					</td>
				    <td>
				    	<div class="checkbox mb-2" align="left">
							{{ channel_form.left_lightsheet_used }}
							{{ channel_form.left_lightsheet_used.label(class="form-check-label") }}
						</div>
						<div class="checkbox mb-2" align="left">
							{{ channel_form.right_lightsheet_used }}
							{{ channel_form.right_lightsheet_used.label(class="form-check-label") }}
						</div>

				    </td>
				    <td>
				    	<div class="form-group">
							{% if channel_form.tiling_scheme.errors %}
								{{ channel_form.tiling_scheme(class="form-control form-control-sm is-invalid") }}
								<div class="invalid-feedback">
									{% for error in channel_form.tiling_scheme.errors %}
										<span>{{ error }}</span>
									{% endfor %}
								</div>
							{% else %}
								{{ channel_form.tiling_scheme(class="form-control form-control-sm") }}
							{% endif %}
						</div>
					</td>
				    <td>
						<div class="form-group">
							{% if channel_form.tiling_overlap.errors %}
								{{ channel_form.tiling_overlap(class="form-control form-control-sm is-invalid") }}
								<div class="invalid-feedback">
									{% for error in channel_form.tiling_overlap.errors %}
										<span>{{ error }}</span>
									{% endfor %}
								</div>
							{% else %}
								{{ channel_form.tiling_overlap(class="form-control form-control-sm") }}
							{% endif %}
						</div>
				    </td>
				    <td>
					    <div class="form-group">
							{% if channel_form.z_step.errors %}
								{{ channel_form.z_step(class="form-control form-control-sm is-invalid") }}
								<div class="invalid-feedback">
									{% for error in channel_form.z_step.errors %}
										<span>{{ error }}</span>
									{% endfor %}
								</div>
							{% else %}
								{{ channel_form.z_step(class="form-control form-control-sm") }}
							{% endif %}
						</div>
					</td>
				    <td>
					    <div class="form-group">
							{% if channel_form.number_of_z_planes.errors %}
								{{ channel_form.number_of_z_planes(class="form-control form-control-sm is-invalid") }}
								<div class="invalid-feedback">
									{% for error in channel_form.number_of_z_planes.errors %}
										<span>{{ error }}</span>
									{% endfor %}
								</div>
							{% else %}
								{{ channel_form.number_of_z_planes(class="form-control form-control-sm") }}
							{% endif %}
						</div>
					</td>
				</tr>
		{% endfor %} <!-- loop over channel forms -->
	    </table>
	{% endfor %} <!-- loop over image resolution forms -->
    
    <div class="form-group">
		{% if form.notes_from_imaging.flags.required %}*{% endif %}
		{{ form.notes_from_imaging.label(class="form-control-label") }}
		{% if form.notes_from_imaging.errors %}
			{{ form.notes_from_imaging(class="form-control form-control-lg is-invalid") }}
			<div class="invalid-feedback">
				{% for error in form.notes_from_imaging.errors %}
					<span>{{ error }}</span>
				{% endfor %}
			</div>
		{% else %}
			{{ form.notes_from_imaging(class="form-control form-control-lg") }}
		{% endif %}
	</div>

	<hr class='class-1'>

	<div>
		<h3 class="infolink" data-toggle='tooltip' title='Make sure not to overwrite folders and do not put data from two different resolutions into the same folder unless they were read-out from the microscope that way'>Move all raw data folders so that they live inside this folder on bucket: </h3>
		<p>
			{{rawdata_filepath}}
		</p>
	</div>

	<div>
		<h3> and record the name of the raw data subfolder for each channel below: </h3> 
		<p> (e.g. "190820_m61468_observ_20190628_1d3x_647_008na_1hfds_z5um_250msec_14-50-40") </p>
	</div>
		{% for ii in range(form.image_resolution_forms|length) %}
			{% set image_resolution_form = form.image_resolution_forms[ii] %}
			{% set image_resolution = image_resolution_form.image_resolution.data %}
	
			<hr class='class-2'>
			<h3 class='mb-4'> ({{ ii + 1 }}/{{form.image_resolution_forms|length }}) Image resolution: {{ image_resolution }} </h3>
			<table class="table table-bordered table-striped text-center mb-4">
				<col width="15%">
				<col width="15%">
				<col width="70%">
	        <tr>
	            <th>Channel wavelength(nm)</th>
	            <th>Image resolution</th>
	            <th>*Raw data subfolder</th>
	        </tr>
			{% for jj in range(image_resolution_form.channel_forms|length) %}
				{% set channel_form = image_resolution_form.channel_forms[jj] %}
				{% set channel_content = channel_contents_lists[ii][jj] %}
				{% set channel_name = channel_content['channel_name'] %}
				<tr>   
				    <td>{{channel_name}}</td>
				    <td>{{channel_content['image_resolution']}}</td>
				    <td>
						<div class="form-group">
							{% if channel_form.rawdata_subfolder.errors %}
								{{ channel_form.rawdata_subfolder(class="form-control form-control-sm is-invalid") }}
								<div class="invalid-feedback">
									{% for error in channel_form.rawdata_subfolder.errors %}
										<span>{{ error }}</span>
									{% endfor %}
								</div>
							{% else %}
								{{ channel_form.rawdata_subfolder(class="form-control form-control-sm") }}
							{% endif %}
						</div>
					</td>
				</tr>
			{% endfor %}
			</table>
		{% endfor %}
		<div class="form-group">
			{{ form.submit(class="btn btn-lg btn-info mt-2") }}
		</div>
	</fieldset>
</form>

{% if column_name %}
	<script>
	window.onload = function() {
	  document.getElementById("{{column_name}}").focus();
	};
	</script>
{% endif %}


{% endblock content %}