<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="1000" viewBox="0 0 1200 768" style="enable-background:new 0 0 1024 768;" xml:space="preserve">
<style type="text/css">
	.st0{fill:#FFFFFF;stroke:#000000;stroke-miterlimit:10;}
	.st1{fill:#E6E6E6;stroke:url(#SVGID_1_);stroke-miterlimit:10;}
	.st2{opacity:0.5;fill:#006837;stroke:url(#SVGID_2_);stroke-miterlimit:10;}
	.st3{opacity:0.5;fill:#F15A24;stroke:url(#SVGID_3_);stroke-miterlimit:10;}
	.st4{fill:#E6E6E6;stroke:url(#SVGID_4_);stroke-miterlimit:10;}
	.st5{fill:#E6E6E6;stroke:url(#SVGID_5_);stroke-miterlimit:10;}
	.st6{fill:#00FF00;stroke:#000000;stroke-miterlimit:10;}
	.st7{opacity:0.5;fill:#FF0000;stroke:#000000;stroke-miterlimit:10;}
	.st8{fill:#FF0000;stroke:#000000;stroke-miterlimit:10;}
	.st9{font-family:'MyriadPro-Regular';}
	.st10{font-size:14px;}
	.st11{font-size:11.7337px;}
	.st12{fill:#FF0000;stroke:#FF0000;stroke-width:2;stroke-miterlimit:10;}
	.st13{fill:none;stroke:#FF0000;stroke-width:2;stroke-miterlimit:10;}
	.st14{fill:#B3B3B3;stroke:#000000;stroke-miterlimit:10;}
	.st15{fill:#4D4D4D;stroke:#000000;stroke-miterlimit:10;}
	.st16{fill:url(#SVGID_6_);stroke:#000000;stroke-miterlimit:10;}
	.st17{fill:#F7931E;}
	.st18{fill:url(#SVGID_7_);stroke:#000000;stroke-miterlimit:10;}
	.st19{fill:#F7931E;stroke:#F7931E;stroke-miterlimit:10;}
	.st20{fill:#F7931E;stroke:#F7931E;stroke-width:2;stroke-miterlimit:10;}
	.st21{fill:none;stroke:#000000;stroke-width:4;stroke-miterlimit:10;}
	.st22{fill:none;stroke:#808080;stroke-width:17;stroke-miterlimit:10;}
	.st23{fill:#CCCCCC;stroke:url(#SVGID_8_);stroke-miterlimit:10;}
	.st24{fill:#B3B3B3;stroke:#000000;stroke-width:2;stroke-miterlimit:10;}
</style>

<!-- BEAM PATH -->

<!-- LINE: Scanners -> Custom Optical Assembly -> Mag. Telescope -> Laser (Red)-->
<line class="st12" x1="643.5" y1="81.5" x2="250" y2="80"/>

<!-- LINE: Laser Dichroic -> Scanners (Red)-->
<line class="st12" x1="250" y1="260" x2="249" y2="82"/>

<!-- LINE: Beam Splitter -> LaserDichroic (Red)-->
<line class="st13" x1="250.5" y1="260.5" x2="127.5" y2="260.5"/>

<!-- LINE: Objective -> Beam Splitter (Red)-->
<line class="st13" x1="126.5" y1="309.5" x2="127.5" y2="260.5"/>

<!-- LINE: Objective -> Beam Splitter (Orange)-->
<line class="st19" x1="119" y1="308" x2="120" y2="264"/>

<!-- LINE: Beam Splitter -> NIR Filter -> EmissionDichroic -> CH2 Filter -> CH2 Detector (Orange)-->
<line class="st20" x1="794" y1="268" x2="119" y2="268"/>

<!-- LINE: EmissionDichroic -> CH1 Filter (Orange)-->
<line class="st20" x1="694" y1="264" x2="693.5" y2="338.5"/>

<!-- LINES: CH2 Detector -> CH2 PreAmp (Black)-->
<line class="st21" x1="933" y1="264" x2="976" y2="264"/>
<line class="st21" x1="978" y1="307" x2="978" y2="263"/>

<!-- LINE: CH1 Detector -> CH1 PreAmp (Orange)-->
<line class="st21" x1="695" y1="472" x2="696" y2="486"/>

<!-- LINES: CH2 PreAmp -> vDAQ system (Black)-->
<line class="st21" x1="973" y1="668" x2="977" y2="358"/>
<line class="st21" x1="596" y1="664" x2="975" y2="664"/>

<!-- LINES: CH1 PreAmp -> vDAQ system (Black)-->
<line class="st21" x1="697" y1="638" x2="697" y2="533"/>
<line class="st21" x1="595" y1="637" x2="699" y2="637"/>

<!-- LINE: vDAQ system -> Software & version (Gray)-->
<line class="st22" x1="519" y1="644" x2="465.5" y2="643.5"/>

<!-- ############### -->


<!-- OPTICAL COMPONENTS -->

<!-- First set up all fixed parameters -->
{% set objective_left = 102 %}
{% set objective_width = 47 %}
{% set objectivelower_top = 376.5 %}
{% set objectivelower_height = 35.5 %}
{% set objectiveupper_height = 78.5 %}

{% set objectivecap_width_diff = 10 %} <!-- Difference in width between top of objectivecap and objective -->
{% set objectivecap_xoffset = 14 %} <!-- Difference in width between top and bottom of objective cap  --> 
{% set objectivecap_height = 12 %}

<!-- Now all derived parameters. Doing things this way will make these objects portable -->
{% set objectiveupper_top = objectivelower_top - objectiveupper_height %}

{% set objectivecap_top_width = objective_width - objectivecap_width_diff %}
{% set objectivecap_bottom_width = objectivecap_top_width - objectivecap_xoffset %}
{% set objectivecap_top = objectivelower_top + objectivelower_height %}
{% set objectivecap_bottom = objectivecap_top + objectivecap_height %}
{% set objectivecap_top_left = objective_left + objectivecap_width_diff/2.0 %}
{% set objectivecap_bottom_left = objectivecap_top_left + objectivecap_xoffset/2.0 %}
{% set objectivecap_top_right = objectivecap_top_left + objectivecap_top_width %}
{% set objectivecap_bottom_right = objectivecap_top_right - objectivecap_xoffset/2.0 %}

{% set objective_label_left = objective_left-50 %}
{% set objective_label_top = objectivelower_top - 25 %}

{% set objective_selector_top = objectivecap_bottom+25 %}

<!-- Objective -->
<g>
	<polygon class="st0" points="{{objectivecap_top_left}},{{objectivecap_top}} {{objectivecap_bottom_left}},{{objectivecap_bottom}} {{objectivecap_bottom_right}},{{objectivecap_bottom}} {{objectivecap_top_right}},{{objectivecap_top}}  	"/>
	<rect x="{{objective_left}}" y="{{objectivelower_top}}" class="st0" width="{{objective_width}}" height="{{objectivelower_height}}"/>
	<rect x="{{objective_left}}" y="{{objectiveupper_top}}" class="st0" width="{{objective_width}}" height="{{objectiveupper_height}}"/>
</g>
<text transform="matrix(1.0227 0 0 1 {{objective_label_left}} {{objective_label_top}})" class="st9 st11">Objective</text>
<foreignobject class="node" x="{{objective_label_left}}" y="{{objective_selector_top}}" width="150" height=50>
	{{ microscope_form.objective_lens_type(class="form-control form-control-sm col-sm-10") }}
</foreignobject>

<!-- Beam splitter -->
<linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="122.0812" y1="242.6072" x2="135.0812" y2="242.6072" gradientTransform="matrix(0.693 0.7209 -0.7209 0.693 208.789 -7.3286)">
	<stop  offset="0" style="stop-color:#FFFFFF"/>
	<stop  offset="1" style="stop-color:#000000"/>
</linearGradient>
<rect x="117" y="199" transform="matrix(0.693 0.7209 -0.7209 0.693 220.5096 -10.8542)" class="st1" width="12" height="109"/>
<text transform="matrix(1.0227 0 0 1 40 250)" class="st9 st11">Beam Splitter</text>


<!-- LaserDichroic -->
{% set laser_dichroic_left = 250 %}
{% set laser_dichroic_top = 211 %}
{% set laser_dichroic_label_left = laser_dichroic_left + 15 %}
{% set laser_dichroic_label_top = laser_dichroic_top + 75 %}
{% set laser_dichroic_selector_left = laser_dichroic_label_left %}
{% set laser_dichroic_selector_top = laser_dichroic_label_top + 20 %}
<linearGradient id="SVGID_2_" gradientUnits="userSpaceOnUse" x1="222.9045" y1="155.0419" x2="235.9045" y2="155.0419" gradientTransform="matrix(0.693 0.7209 -0.7209 0.693 208.789 -7.3286)">
	<stop  offset="0" style="stop-color:#FFFFFF"/>
	<stop  offset="1" style="stop-color:#000000"/>
</linearGradient>
<rect x="{{laser_dichroic_left}}" y="{{laser_dichroic_top}}" transform="matrix(0.693 0.7209 -0.7209 0.693 269.9883 -103.052)" class="st2" width="12" height="109"/>
<text transform="matrix(1.0227 0 0 1 {{laser_dichroic_label_left}} {{laser_dichroic_label_top}})" class="st9 st11">LaserDichroic</text>
<foreignobject class="node" x="{{laser_dichroic_selector_left}}" y="{{laser_dichroic_selector_top}}" width="150" height=50>
	{{ microscope_form.laser_dichroic_mirror_type(class="form-control form-control-sm col-sm-10") }}
</foreignobject>
<!-- ##### -->

<!-- Emission Dichroic -->
<linearGradient id="SVGID_3_" gradientUnits="userSpaceOnUse" x1="573.2067" y1="-168.4365" x2="586.2067" y2="-168.4365" gradientTransform="matrix(0.6876 -0.7261 0.7261 0.6876 426.6661 800.2219)">
	<stop  offset="0" style="stop-color:#FFFFFF"/>
	<stop  offset="1" style="stop-color:#000000"/>
</linearGradient>
<rect x="697" y="209" transform="matrix(0.6876 -0.7261 0.7261 0.6876 28.2759 592.7241)" class="st3" width="12" height="109"/>
<text transform="matrix(1.0227 0 0 1 644.2983 218.3057)" class="st9 st11">EmissionDichroic</text>
<!-- ##### -->

<!-- Scanners -->

{% set scanner_left = 245 %}
{% set scanner_top = 52.4 %}
{% set scanner_label_left = scanner_left - 80 %}
{% set scanner_label_top = scanner_top + 30 %}
{% set scanner_selector_left = scanner_left - 130 %}
{% set scanner_selector_top = scanner_top + 60 %}

<g>
	
		<linearGradient id="SVGID_4_" gradientUnits="userSpaceOnUse" x1="64.9359" y1="-22.4469" x2="77.9359" y2="-22.4469" gradientTransform="matrix(0.3295 0.3427 -0.3291 0.3164 216.9036 59.9148)">
		<stop  offset="0" style="stop-color:#FFFFFF"/>
		<stop  offset="1" style="stop-color:#000000"/>
	</linearGradient>
	
		<rect x="{{scanner_left}}" y="{{scanner_top}}" transform="matrix(0.693 0.7209 -0.7209 0.693 131.8013 -154.9338)" class="st4" width="5.7" height="49.8"/>
	
		<linearGradient id="SVGID_5_" gradientUnits="userSpaceOnUse" x1="83.8441" y1="-9.1418" x2="96.8441" y2="-9.1418" gradientTransform="matrix(0.2438 0.4082 -0.3919 0.2341 222.2199 42.5626)">
		<stop  offset="0" style="stop-color:#FFFFFF"/>
		<stop  offset="1" style="stop-color:#000000"/>
	</linearGradient>
	
		<rect x="{{scanner_left}}" y="{{scanner_top}}" transform="matrix(0.5128 0.8585 -0.8585 0.5128 187.1085 -175.104)" class="st5" width="5.7" height="49.8"/>
</g>
<text transform="matrix(1.0227 0 0 1 {{scanner_label_left}} {{scanner_label_top}})" class="st9 st11">Scanners</text>
<foreignobject class="node" x="{{scanner_selector_left}}" y="{{scanner_selector_top}}" width="150" height=50>
	{{ microscope_form.scanner_type(class="form-control form-control-sm col-sm-10") }}
</foreignobject>


<!-- ##### -->

<!-- CH1 1 filter -->
{% set ch1_filter_left = 643.5 %}
{% set ch1_filter_top = 323.5 %}
{% set ch1_filter_label_left = ch1_filter_left + 80 %}
{% set ch1_filter_label_top = ch1_filter_top + 25 %}
{% set ch1_filter_selector_left = ch1_filter_label_left %}
{% set ch1_filter_selector_top = ch1_filter_top + 35 %}
<rect x="{{ch1_filter_left}}" y="{{ch1_filter_top}}" class="st6" width="105" height="9"/>
<text transform="matrix(1.0227 0 0 1 {{ch1_filter_label_left}} {{ch1_filter_label_top}})" class="st9 st11">CH1Filter</text>
<foreignobject class="node" x="{{ch1_filter_selector_left}}" y="{{ch1_filter_selector_top}}" width="150" height=50>
	{{ microscope_form.ch1_filter_type(class="form-control form-control-sm col-sm-10") }}
</foreignobject>
<!-- ##### -->

<!-- NIR filter -->
{% set nir_filter_left = 503.5 %}
{% set nir_filter_height = 105 %}
{% set central_beam_path_y = 268 %}
{% set nir_filter_top = central_beam_path_y - nir_filter_height/2.0 %}
{% set nir_filter_label_left = nir_filter_left - 35 %}
{% set nir_filter_label_top = nir_filter_top - 50 %}
{% set nir_filter_selector_left = nir_filter_label_left %}
{% set nir_filter_selector_top = nir_filter_top - 40 %}
<rect x="{{nir_filter_left}}" y="{{nir_filter_top}}" class="st7" width="9" height="105"/>
<text transform="matrix(1.0227 0 0 1 {{nir_filter_label_left}} {{nir_filter_label_top}})" class="st9 st11">NIR filter</text>
<foreignobject class="node" x="{{nir_filter_selector_left}}" y="{{nir_filter_selector_top}}" width="150" height=50>
	{{ microscope_form.nir_filter_type(class="form-control form-control-sm col-sm-10") }}
</foreignobject>
<!-- ##### -->

<!-- CH2 filter -->
{% set ch2_filter_left = 715.5 %}
{% set ch2_filter_top = 260.5 %}
{% set ch2_filter_label_left = ch2_filter_left %}
{% set ch2_filter_label_top = ch2_filter_top - 95 %}
{% set ch2_filter_selector_left = ch2_filter_label_left %}
{% set ch2_filter_selector_top = ch2_filter_top - 85 %}
<rect x="{{ch2_filter_left}}" y="{{ch2_filter_top}}" transform="matrix(4.490281e-11 -1 1 4.490281e-11 503 1033)" class="st8" width="105" height="9"/>
<text transform="matrix(1.0227 0 0 1 {{ch2_filter_label_left}} {{ch2_filter_label_top}})" class="st9 st11">CH2 Filter</text>
<foreignobject class="node" x="{{ch2_filter_selector_left}}" y="{{ch2_filter_selector_top}}" width="150" height=50>
	{{ microscope_form.ch2_filter_type(class="form-control form-control-sm col-sm-10") }}
</foreignobject>
<!-- ##### -->

<!-- Laser -->
<rect x="632.5" y="43.5" class="st8" width="193" height="74"/>
<text transform="matrix(1 0 0 1 670.5088 30)" class="st9 st10">Laser</text>
<foreignobject class="node" x="660" y="65" width="150" height=50>
	{{ microscope_form.laser_name(class="form-control form-control-sm") }}
</foreignobject>

<!-- Mag. Telescope -->
<rect x="476.5" y="62.5" class="st14" width="133" height="35"/>
<text transform="matrix(1 0 0 1 498.5088 81.8599)" class="st9 st10">Mag. Telescope</text>
<!-- ##### -->

<!-- CH2 Detector -->
<rect x="802.5" y="239.5" class="st15" width="131" height="46"/>
<text transform="matrix(1.0227 0 0 1 837.2983 232.3057)" class="st9 st11">CH2 Detector </text>
<!-- ##### -->

<!-- CH1 Detector -->
<rect x="630" y="383" transform="matrix(4.489215e-11 -1 1 4.489215e-11 289.5 1101.5)" class="st15" width="131" height="46"/>
<text transform="matrix(1.0227 0 0 1 721.2983 423.3057)" class="st9 st11">CH1 Detector</text>
<!-- ##### -->

<!-- CH1 PreAmp -->
{% set ch1_preamp_left = 664.5 %}
{% set ch1_preamp_top = 485.5 %}
{% set ch1_preamp_width = 62 %}

{% set ch1_preamp_label_left = ch1_preamp_left + 75 %}
{% set ch1_preamp_label_top = ch1_preamp_top + 20 %}
{% set ch1_preamp_selector_left = ch1_preamp_label_left %}
{% set ch1_preamp_selector_top = ch1_preamp_label_top + 20 %}
<linearGradient id="SVGID_6_" gradientUnits="userSpaceOnUse" x1="{{ch1_preamp_left}}" y1="{{ch1_preamp_top}}" x2="{{ch1_preamp_left + ch1_preamp_width}}" y2="{{ch1_preamp_top}}">
	<stop  offset="0" style="stop-color:#FFFFFF"/>
	<stop  offset="1" style="stop-color:#000000"/>
</linearGradient>
<rect x="{{ch1_preamp_left}}" y="{{ch1_preamp_top}}" class="st16" width="{{ch1_preamp_width}}" height="48"/>
<text transform="matrix(1.0227 0 0 1 {{ch1_preamp_label_left}} {{ch1_preamp_label_top}})" class="st9 st11">CH1 PreAmp</text>
<text transform="matrix(1.0227 0 0 1 {{ch1_preamp_label_left}} 520.3057)" class="st9 st11">CH1 PreAmpSettings</text>
<foreignobject class="node" x="{{ch1_preamp_selector_left}}" y="{{ch1_preamp_selector_top}}" width="150" height=50>
	{{ microscope_form.ch1_preamp_model(class="form-control form-control-sm col-sm-10") }}
</foreignobject>
<!-- ##### -->

<!-- CH2 PreAmp -->
{% set ch2_preamp_left = 943.5 %}
{% set ch2_preamp_top = 308.5 %}
{% set ch2_preamp_width = 62 %}

{% set ch2_preamp_label_left = ch2_preamp_left + 75 %}
{% set ch2_preamp_label_top = ch2_preamp_top + 20 %}
{% set ch2_preamp_selector_left = ch2_preamp_label_left %}
{% set ch2_preamp_selector_top = ch2_preamp_label_top + 20 %}
<linearGradient id="SVGID_7_" gradientUnits="userSpaceOnUse" x1="943.5" y1="332.5" x2="1005.5" y2="332.5">
	<stop  offset="0" style="stop-color:#FFFFFF"/>
	<stop  offset="1" style="stop-color:#000000"/>
</linearGradient>
<rect x="{{ch2_preamp_left}}" y="{{ch2_preamp_top}}" class="st18" width="{{ch2_preamp_width}}" height="48"/>
<text transform="matrix(1.0227 0 0 1 {{ch2_preamp_label_left}} 327.3057)" class="st9 st11">CH2 PreAmp</text>
<text transform="matrix(1.0227 0 0 1 {{ch2_preamp_label_left}} 344.3057)" class="st9 st11">CH2 PreAmpSettings</text>
<foreignobject class="node" x="{{ch2_preamp_selector_left}}" y="{{ch2_preamp_selector_top}}" width="150" height=50>
	{{ microscope_form.ch2_preamp_model(class="form-control form-control-sm col-sm-10") }}
</foreignobject>
<!-- ##### -->

<!-- Sofware & Version -->
{% set acq_software_left = 347 %}
{% set acq_software_top = 608 %}
{% set acq_software_width =118 %}

{% set acq_software_label_left = acq_software_left + 10 %}
{% set acq_software_label_top = acq_software_top - 30 %}
{% set acq_software_selector_left = acq_software_left - 50 %}
{% set acq_software_selector_top = acq_software_top + 100 %}
<rect x="{{acq_software_left}}" y="{{acq_software_top}}" class="st12" width="{{acq_software_width}}" height="85"/>
<text transform="matrix(1.0227 0 0 1 {{acq_software_label_left}} {{acq_software_label_top}})" class="st9 st11">Software &amp; version</text>
<foreignobject class="node" x="{{acq_software_selector_left}}" y="{{acq_software_selector_top}}" width="200" height=50>
	{{ microscope_form.acq_software_name(class="form-control form-control-sm col-md-11") }}
</foreignobject>
<!-- ##### -->

<!-- Custom Optical Assembly -->
<linearGradient id="SVGID_8_" gradientUnits="userSpaceOnUse" x1="301" y1="85" x2="435" y2="85">
	<stop  offset="0" style="stop-color:#CCE0F4"/>
	<stop  offset="6.405089e-02" style="stop-color:#C3DCF2"/>
	<stop  offset="0.1706" style="stop-color:#A9D2EE"/>
	<stop  offset="0.3066" style="stop-color:#80C2E7"/>
	<stop  offset="0.4649" style="stop-color:#47ACDE"/>
	<stop  offset="0.5674" style="stop-color:#1E9CD7"/>
	<stop  offset="0.8652" style="stop-color:#0075BE"/>
	<stop  offset="0.9944" style="stop-color:#005B97"/>
</linearGradient>
<rect x="301.5" y="67.5" class="st23" width="133" height="35"/>
<text transform="matrix(1.0227 0 0 1 328.2983 61.3057)"><tspan x="0" y="0" class="st9 st11">Custom Optical </tspan><tspan x="0" y="14.1" class="st9 st11">Assembly: </tspan><tspan x="0" y="28.2" class="st9 st11">-remote focus, </tspan><tspan x="0" y="42.2" class="st9 st11">-Deformable mirror</tspan><tspan x="0" y="56.3" class="st9 st11">-...</tspan></text>
<!-- ##### -->

<!-- vDAQ System -->
{% set daq_left = 519 %}
{% set daq_top = 614 %}
{% set daq_width = 81 %}

{% set daq_label_left = daq_left + 10 %}
{% set daq_label_top = daq_top - 30 %}
{% set daq_selector_left = daq_left-20 %}
{% set daq_selector_top = acq_software_selector_top %}
<rect x="{{daq_left}}" y="{{daq_top}}" class="st24" width="{{daq_width}}" height="63"/>
<text transform="matrix(1.0227 0 0 1 {{daq_label_left}} {{daq_label_top}})" class="st9 st11">vDAQ system</text>
<foreignobject class="node" x="{{daq_selector_left}}" y="{{daq_selector_top}}" width="200" height=50>
	{{ microscope_form.daq_name(class="form-control form-control-sm col-md-11") }}
</foreignobject>
<!-- ##### -->

<!-- ############### -->





</svg>
