
	 <div class="content-section">
		<form method="POST" action="">
			{{ form.hidden_tag() }}
			<fieldset class="form-group">
				<legend class="border-bottom mb-2 mt-4">New Channel Entry Form</legend>

				<div class="form-group">
					{% if form.microscope_name.flags.required %}*{% endif %}
					{{ form.microscope_name.label }}
					{{ form.microscope_name(class="form-control form-control-lg") }}							
				</div>

				<div class="form-group">
					{% if form.channel_name.flags.required %}*{% endif %}
					{{ form.channel_name.label(class="form-control-label") }}
					{% if form.channel_name.errors %}
						{{ form.channel_name(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.channel_name.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.channel_name(class="form-control form-control-lg") }}
					{% endif %}
				</div>


				<div class="form-group">
					{{ form.submit(class="btn btn-info mt-4") }}	            
				</div>
			</fieldset>
		</form>
	</div>
