{% extends "layout.html" %}
	{% block content %}
	<legend class="border-bottom mb-4 mt-4">Light Sheet Microscope Objective Swap/Calibrate Log:</legend>

		{{ table }}
		{% if microscope_contents %}

			<input id = "tableSwapper" type="button"  class="btn btn-sm btn-info mt-1" value="Swap rows and columns"/>
		{% endif %}
	 <form action="{{url_for('microscope.objective_swap_log_entry')}}">
         <button type="submit" class="btn btn-info mt-4 mb-4">Make a new entry </button>
      </form>

	<script src="{{ url_for('static',filename='javascript/tableswapper.js') }}" defer="defer"></script>
	{% endblock content %}