{% extends "layout.html" %}
{% block content %}
	{{ clearing_table }}
	 <div class="content-section mt-4">
		<form method="POST" action="">
			{{ form.hidden_tag() }}

			<fieldset class="form-group">
				<legend class="border-bottom mb-4">Start new clearing log for experiment_id={{experiment_id}}:</legend>
				<div class="form-group">
					{{ form.notes.label(class="form-control-label") }}
					{% if form.notes.errors %}
						{{ form.notes(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.notes.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.notes(class="form-control form-control-lg") }}
					{% endif %}
				</div>

			</fieldset>
			<div class="form-group">
				{{ form.submit(class="btn btn-info mt-4") }}
			</div>
		</form>
	</div>


{% endblock content %}