<!DOCTYPE html>
<html>
<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		{% block headcontent %}
		{% endblock headcontent %}
		<!-- Bootstrap CSS -->
		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.css"  crossorigin="anonymous">

		<link rel="stylesheet" href="{{ url_for('static', filename='awesome_bootstrap_checkbox.css') }}"/>
		<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
		<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
		<script src="{{ url_for('static',filename='javascript/simsalabim-sisyphus-1878a0f/sisyphus.js') }}"></script>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

		{% if title %}
				<title>Lightserv - {{ title }}</title>
		{% else %}
				<title>Lightserv</title>
		{% endif %}
</head>
<body>
		<header class="site-header">
			<nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
				<div class="container">
				<!-- Navbar Left Side -->

					<a class="navbar-brand mr-2">
						<img src="{{url_for('static',filename='gallery/icon_gs_resized.png')}}" alt="">
					</a>
					
					<a class="navbar-brand" >Lightserv </a>
				
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarToggle">


							<div class="navbar-nav mr-auto">
								<a class="nav-item nav-link" href="{{ url_for('main.welcome') }}">About</a>

								<li class="nav-item dropdown">
							        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							          Your Requests/Samples
							        </a>
							        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
										<a class="dropdown-item" href="{{ url_for('requests.all_requests') }}">Your Requests</a>
										<a class="dropdown-item" href="{{ url_for('requests.all_samples') }}">Your Samples</a>
										
							        </div>
								</li>

								<li class="nav-item dropdown">
							        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							          Task Management
							        </a>
							        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
										<a class="dropdown-item" href="{{ url_for('clearing.clearing_manager')}}">All Clearing Tasks</a>
										<a class="dropdown-item" href="{{ url_for('imaging.imaging_manager')}}">All Imaging Tasks</a>
										<a class="dropdown-item" href="{{ url_for('processing.pystripe_manager')}}">All Pystripe Tasks</a>
										<a class="dropdown-item" href="{{ url_for('processing.processing_manager')}}">All Processing Tasks</a>

										{% if session['user'] == 'ahoag' or session['user'] == 'thiberge' %}
											<div class="dropdown-divider"></div>
											<a class="dropdown-item" href="{{ url_for('microscope.landing_page')}}">Microscope Manager</a>
										{% endif %}
							        </div>
							        
								</li>
								{# Admin dropdown #}
								{% if session['user'] in ['ahoag','sg3271','ll3','sg3271'] %}
									
									<li class="nav-item dropdown">
								        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								          Admin
								        </a>
								        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
								        	{% if session['user'] in ['ahoag'] %}
												<a class="dropdown-item" href="{{ url_for('main.admin')}}">Activity Log</a>
												<a class="dropdown-item" href="{{ url_for('neuroglancer.confproxy_table')}}">Confproxy Table</a>
											{% endif %}
												<a class="dropdown-item" href="{{ url_for('main.dash')}}">Core dashboard</a>
								        </div>
								        
									</li>
								{% endif %}
								
								{# Antibody dropdown #}
									<li class="nav-item dropdown">
								        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								          Antibodies
								        </a>
								        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        									{% if session['user'] == 'ahoag' or session['user'] == 'll3' %}

									        	<a class="dropdown-item" href="{{ url_for('clearing.new_antibody')}}">Enter new antibody trial</a>
												<a class="dropdown-item" href="{{ url_for('clearing.antibody_overview')}}">Antibody Cheat Sheet</a>
											{% endif %}
											<a class="dropdown-item" href="{{ url_for('clearing.antibody_history')}}">Antibody History</a>
								        </div>
								        
									</li>

								
							</div>
								
						
						<!-- Navbar Right Side -->
						<div class="navbar-nav">
							<a class="nav-item nav-link" href="{{ url_for('requests.new_request') }}">New Request</a>
							<a class="nav-item nav-link" href="{{ url_for('main.FAQ') }}">FAQ</a>
							<a class="nav-item nav-link" href="{{ url_for('main.gallery') }}">Gallery</a>
						</div>
					</div>
				</div>
			</nav>
		</header>
		<main role="main" class="container">
					  {% with messages = get_flashed_messages(with_categories=true) %}
						{% if messages %}
						  {% for category, message in messages %}
							<div class="alert alert-{{ category }}">
							  {{ message }}
							</div>
						  {% endfor %}
						{% endif %}
					  {% endwith %}
					{% block content %}{% endblock %}
		</main>
	

		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

		<script src="{{ url_for('static',filename='javascript/library.js') }}"></script>

		<script type="text/javascript">
			MYLIBRARY.defaultVertLayout(); // If table id begins with "vertical" then it will have vertical layout by default
			MYLIBRARY.popOver();
		</script>

</body>
</html>