{% extends "layout.html" %}
	{% block content %}
	<legend class="border-bottom mb-4 mt-4">{{ legend }}:</legend>
		<div style="max-height: 300px; overflow: auto;">
			{{ request_table }}
		</div>
		<!-- {% if request_contents %} -->
			<!-- <input id = "tableSwapper" type="button"  class="btn btn-sm btn-secondary mt-1" value="Click to change table orientation (vertical/horizontal)"/> -->

		<hr class="class-5">
		<h3> Key: </h3>
		<hr class="class-2">	

		<div class='my-legend'>
		<div class='legend-scale'>
		  <ul class='legend-labels'>
		    <li><span style='background:#FCA5A4;'></span>Request received and pending</li>
		    <li><span style='background:#A4FCFA;'></span>Request in progress</li>
		    <li><span style='background:#A4FCAC;'></span>Request complete</li>
		  </ul>
		  <br/>
		  <br/>
		  <br/>
		</div>
		</div>
		<hr class="class-2">	

		<div>
			<b>*</b> A given sample can have multiple imaging requests, so the denominator may be larger than or equal to denominator in fraction_cleared, which is the same as the number of samples. </br>
			<b>**</b> A given sample can have multiple processing requests per imaging request and a given sample may have no processing requests (for example if only 2x imaging was requested) so the denominator may be less than, larger than or equal to the denominator in fraction_imaged and the denominator in fraction_cleared. If fraction_processed is "0/0" it is because no processing was requested for any samples in that request.
		</div>

		{% endif %}
		
		<form action="{{url_for('requests.new_request')}}">
			<button type="submit" class="btn btn-info mt-4 mb-4">Start a new request</button>
		</form>

	<script type="text/javascript" defer="defer">

		   $("#tableSwapper").click(function() {
		   MYLIBRARY.swapTable("{{request_table.table_id}}");
		});

	</script>
	{% endblock content %}
