{% extends "layout.html" %}
{% block content %}
	<h1 id='primary_header' align="center">New Request Form</h1>
	 <div class="content-section">

		<form id="new_request_form" method="POST" action="">
			{{ form.hidden_tag() }}
			<fieldset class="form-group">
				<legend class="border-bottom mb-2 mt-4">Background Info</legend>
				{% if session['user'] == 'ahoag' or session['user'] == 'zmd' or session['user'] == 'jduva' or session['user'] == 'kellyms' %}
					<div class="checkbox mb-2">
						{% if form.clearing_samples|length > 0 %}
							{{ form.enter_for_otheruser(disabled=true, class="form-check-input", onclick="return false;") }}
						{% else %}
							{{ form.enter_for_otheruser(class="form-check-input", onchange="togglefield(this)" ) }}
						{% endif %}
						{{ form.enter_for_otheruser.label(class="form-check-label") }}
					</div>
				{% endif %}
				<!-- <input type="checkbox" name="checkfield" id="g01-01"  onchange="togglefield(this)"/> -->
				{% if form.clearing_samples|length > 0 and form.other_username.data %}
					<div class="form-group" id="username_field" style="display: block">
						{{ form.other_username.label }}
						{{ form.other_username(readonly=true, class="form-control form-control-lg") }}
					</div>
				{% else %}
					<div class="form-group" id="username_field" style="display: none">
						{{ form.other_username.label }}
						{{ form.other_username(class="form-control form-control-lg") }}
					</div>
				{% endif %}

				<div class="form-group">
					{% if form.labname.flags.required %}*{% endif %}
					{{ form.labname.label(class="form-control-label") }}
					{% if form.labname.errors %}
						{{ form.labname(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.labname.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.labname(class="form-control form-control-lg col-md-3") }}
					{% endif %}
				</div>
				<div class="form-group">
					{% if form.correspondence_email.flags.required %}*{% endif %}
					{{ form.correspondence_email.label(class="form-control-label") }}
					{% if form.correspondence_email.errors %}
						{{ form.correspondence_email(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.correspondence_email.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.correspondence_email(class="form-control form-control-lg ") }}
					{% endif %}
				</div>
				<div class="form-group" data-toggle="tooltip" title="Must not contain spaces. Use '_' instead of spaces">
					{% if form.request_name.flags.required %}*{% endif %}
					{{ form.request_name.label(class="form-control-label infolink") }} <a id="request_name_charbox"></a>
					{% if form.request_name.errors %}
						{{ form.request_name(class="form-control form-control-lg is-invalid",oninput="update_charbox(this)") }}
						<div class="invalid-feedback">
							{% for error in form.request_name.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{% if form.clearing_samples|length > 0 %}
							{{ form.request_name(readonly=true, class="form-control form-control-lg") }}
						{% else %}
							{{ form.request_name(class="form-control form-control-lg",oninput="update_charbox(this)") }}
						{% endif %}
					{% endif %}
				</div>
				<div class="form-group">
					{% if form.description.flags.required %}*{% endif %}
					{{ form.description.label(class="form-control-label") }} <a id="description_charbox"></a>
					{% if form.description.errors %}
						{{ form.description(class="form-control form-control-lg is-invalid",oninput="update_charbox(this)") }}
						<div class="invalid-feedback">
							{% for error in form.description.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.description(class="form-control form-control-lg",oninput="update_charbox(this)") }}
					{% endif %}
				</div>
				<div class="form-group">
					{% if form.species.flags.required %}*{% endif %}
					{{ form.species.label(class="form-control-label mr-2") }}
					{% if form.clearing_samples|length > 0 %}
						{{ form.species(readonly=true,class="form-control form-control-lg") }}
					{% else %}
						{{ form.species(class="form-control form-control-lg col-md-3") }}
					{% endif %} 
					
				</div>

				<div class="form-group">
					{% if form.number_of_samples.flags.required %}*{% endif %}
					{{ form.number_of_samples.label(class="form-control-label") }}
					{% if form.number_of_samples.errors %}
						{{ form.number_of_samples(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.number_of_samples.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{% if form.clearing_samples|length > 0 %}
							{{ form.number_of_samples(readonly=true, class="form-control form-control-lg") }}
						{% else %}
							{{ form.number_of_samples(class="form-control form-control-lg col-md-3") }}
						{% endif %}
					{% endif %}
				</div>

				<div class="checkbox">
					{{ form.testing(class="form-check-input" ) }}
					{{ form.testing.label(class="form-check-label") }}
				</div>

				<!-- ############### -->
				<!-- SAMPLES SETUP section -->
				<!-- ############### -->
				<hr class='class-3'>
				{% if form.clearing_samples.data|length == 0 %}
					<h3 class='border-bottom'>Samples setup</h3>

					<div class="form-group mt-2">
						{{ form.sample_submit_button(class="btn btn-success mt-2") }}
					</div>
				{% endif %}
				
				<!-- ################ -->
				<!-- SAMPLES section -->
				<!-- ################ -->
				
				<div>
					{% for ii in range(form.clearing_samples|length) %}
						{% set clearing_entry = form.clearing_samples[ii] %}
						
				    	<h3 class="form-control-label">Sample {{ii+1}} </h3>
				        <hr class='class-2'>

				    	<div class="form-group">
							{% if clearing_entry.sample_name.flags.required %}*{% endif %}
							{{ clearing_entry.sample_name.label(class="form-control-label") }}
							{% if clearing_entry.sample_name.errors %}
								{{ clearing_entry.sample_name(class="form-control form-control-lg is-invalid") }}
								<div class="invalid-feedback">
									{% for error in clearing_entry.sample_name.errors %}
										<span>{{ error }}</span>
									{% endfor %}
								</div>
							{% else %}
								{{ clearing_entry.sample_name(class="form-control form-control-lg") }}
							{% endif %}
						</div>

						<div class="form-group">
							{% if clearing_entry.subject_fullname.flags.required %}*{% endif %}
							<a class="infolink" data-toggle="tooltip" title="Leave blank if your subject is not an option or you don't know">
								{{ clearing_entry.subject_fullname.label(class="form-control-label") }}
							</a>
							{% if clearing_entry.subject_fullname.errors %}
								{{ clearing_entry.subject_fullname(class="form-control form-control-lg is-invalid") }}
								<div class="invalid-feedback">
									{% for error in clearing_entry.subject_fullname.errors %}
										<span>{{ error }}</span>
									{% endfor %}
								</div>
							{% else %}
								{% if clearing_entry.clearing_samples|length > 0 %}
									{{ clearing_entry.subject_fullname(readonly=true,class="form-control form-control-lg col-md-3") }}
								{% else %}
									{{ clearing_entry.subject_fullname(class="form-control form-control-lg col-md-3") }}
								{% endif %}
							{% endif %}
						</div>
				        <!-- ################ -->
						<!-- CLEARING section -->
						<!-- ################ -->
				        <h3 class='border-bottom'>Clearing setup</h3>

				        <div class="form-group">
							{% if clearing_entry.perfusion_date.flags.required %}*{% endif %}
							{{ clearing_entry.perfusion_date.label(class="form-control-label") }}
							{% if clearing_entry.perfusion_date.errors %}
								{{ clearing_entry.perfusion_date(class="form-control form-control-lg is-invalid") }}
								<div class="invalid-feedback">
									{% for error in clearing_entry.perfusion_date.errors %}
										<span>{{ error }}</span>
									{% endfor %}
								</div>
							{% else %}
								{{ clearing_entry.perfusion_date(class="form-control form-control-lg") }}
							{% endif %}
						</div>

						<div class="form-group">
							{% if clearing_entry.expected_handoff_date.flags.required %}*{% endif %}
							{{ clearing_entry.expected_handoff_date.label(class="form-control-label") }}
							{% if clearing_entry.expected_handoff_date.errors %}
								{{ clearing_entry.expected_handoff_date(class="form-control form-control-lg is-invalid") }}
								<div class="invalid-feedback">
									{% for error in clearing_entry.expected_handoff_date.errors %}
										<span>{{ error }}</span>
									{% endfor %}
								</div>
							{% else %}
								{{ clearing_entry.expected_handoff_date(class="form-control form-control-lg") }}
							{% endif %}
						</div>

				        <div class="form-group">
							{% if clearing_entry.clearing_protocol.flags.required %}*{% endif %}
							{{ clearing_entry.clearing_protocol.label(class="form-control-label") }}
							{% if clearing_entry.clearing_protocol.errors %}
								{{ clearing_entry.clearing_protocol(class="form-control form-control-lg is-invalid") }}
								<div class="invalid-feedback">
									{% for error in clearing_entry.clearing_protocol.errors %}
										<span>{{ error }}</span>
									{% endfor %}
								</div>
							{% else %}
								{{ clearing_entry.clearing_protocol(class="form-control form-control-lg") }}
							{% endif %}
						</div>

						
						<div class="form-group">
							{% if clearing_entry.antibody1.flags.required %}*{% endif %}
							{{ clearing_entry.antibody1.label(class="form-control-label") }}
							{% if clearing_entry.antibody1.errors %}
								{{ clearing_entry.antibody1(class="form-control form-control-lg is-invalid") }}
								<div class="invalid-feedback">
									{% for error in clearing_entry.antibody1.errors %}
										<span>{{ error }}</span>
									{% endfor %}
								</div>
							{% else %}
								{{ clearing_entry.antibody1(class="form-control form-control-lg") }}
							{% endif %}
						</div>

						<div class="form-group">
							{% if clearing_entry.antibody2.flags.required %}*{% endif %}
							{{ clearing_entry.antibody2.label(class="form-control-label") }}
							{% if clearing_entry.antibody2.errors %}
								{{ clearing_entry.antibody2(class="form-control form-control-lg is-invalid") }}
								<div class="invalid-feedback">
									{% for error in clearing_entry.antibody2.errors %}
										<span>{{ error }}</span>
									{% endfor %}
								</div>
							{% else %}
								{{ clearing_entry.antibody2(class="form-control form-control-lg") }}
							{% endif %}
						</div>

						<div class="form-group">
							{% if clearing_entry.notes_for_clearer.flags.required %}*{% endif %}
							{{ clearing_entry.notes_for_clearer.label(class="form-control-label") }} <a id='clearing_samples-{{ii}}-notes_for_clearer_charbox'></a>
							{% if clearing_entry.notes_for_clearer.errors %}
								{{ clearing_entry.notes_for_clearer(class="form-control form-control-lg is-invalid",oninput="update_charbox(this)") }}
								<div class="invalid-feedback">
									{% for error in clearing_entry.notes_for_clearer.errors %}
										<span>{{ error }}</span>
									{% endfor %}
								</div>
							{% else %}
								{{ clearing_entry.notes_for_clearer(class="form-control form-control-lg",oninput="update_charbox(this)") }}
							{% endif %}
						</div>
						{% if ii == 0 and form.number_of_samples.data > 1 %}
							<div class="form-group">
			                    {{ form.uniform_clearing_submit_button(class="btn btn-success ") }}
			                </div>
			            {% endif %}

						<!-- ################ -->
						<!-- IMAGING section -->
						<!-- ################ -->
						<hr class='class-2'>
						<h3 class='border-bottom'>Imaging/Processing setup</h3>
						{% set imaging_entry = form.imaging_samples[ii] %}
						
						<!-- Loop through all image resolution forms and make a table for each -->
						{% for jj in range(imaging_entry.image_resolution_forms|length) %}
							{% set image_resolution_form = imaging_entry.image_resolution_forms[jj] %}
							<!-- render the hidden field -->
							{{ image_resolution_form.image_resolution() }}
							{% if image_resolution_form.image_resolution.data == '2x' %}
								<h4 class='infolink' data-toggle='tooltip' title='Only generic imaging is allowed for 2x imaging due to our inability to proces images taken with this objective. '> Setup for image resolution: {{ image_resolution_form.image_resolution.data }} </h4>
							{% else %}
								<h4 > Setup for image resolution: {{ image_resolution_form.image_resolution.data }} </h4>
							{% endif %}
							<a> Select all imaging channels and their uses: </a>
							<table class="table table-bordered table-striped text-center mb-4">
				                <tr>
				                    <th>Channel wavelength(nm)</th>
				                    <th>Image resolution</th>
				                    <th class="infolink" data-toggle="tooltip" title="Registration: Select a channel that will be used to align your data to an atlas. Best to pick a channel with high auto-fluorescence like 488 (the default). You must pick a channel in this column if you want any of your data registered to an atlas. You only need to pick one channel in this column.">Registration</th>
				                    <th class="infolink" data-toggle="tooltip" title="Injection detection: Select channel(s) in which you want to recover an injection site. The channel could be the one closest in wavelength to the peak emission wavelength of a dye used to tag the injection site. Requires a registration channel to be selected.">Injection detection</th>
				                    <th class="infolink" data-toggle="tooltip" title="Probe detection: Select channel(s) in which you want to recover a probe site. The channel could be the one closest in wavelength to the peak emission wavelength of a dye used to tag the probe site. Requires a registration channel to be selected.">Probe detection</th>
				                    <th class="infolink" data-toggle="tooltip" title="Cell detection: Select channel(s) in which you want to recover cells.">Cell detection</th>
				                    <th class="infolink" data-toggle="tooltip" title="General Imaging: Select channel(s) in this column if you want the channel imaged but not for purposes in the other columns (or you are not sure). Does not require a registration channel to be selected, but if one is this channel will be automatically registered to the atlas selected. ">Generic Imaging</th>
				                </tr>

				                {% for channel_entry in image_resolution_form.channel_forms %}
					                <!-- Render the channel_name which is a hidden field just so it is set -->
				                	{{ channel_entry.channel_name() }} 
					                <tr>   
					                    <td>{{channel_entry.channel_name.data}}</td>
					                    <td>{{image_resolution_form.image_resolution.data }}</td>
					                    {% if form.species.data != 'mouse' or image_resolution_form.image_resolution.data == '2x' %}
					                    	{% set disable_detection_methods = true %}
					                    {% else %}
					                    	{% set disable_detection_methods = false %}
					                    {% endif %}
					                    <td>{{channel_entry.registration(disabled=disable_detection_methods)}}</td>
					                    <td>{{channel_entry.injection_detection(disabled=disable_detection_methods)}}</td>
					                    <td>{{channel_entry.probe_detection(disabled=disable_detection_methods)}}</td>
					                    <td>{{channel_entry.cell_detection(disabled=disable_detection_methods)}}</td>
					                    <td>{{channel_entry.generic_imaging}}</td>
					                </tr>
				               {% endfor %}
				            </table>

				             <div class="form-group infolink" data-toggle="tooltip" title="While this notes field is not required, we strongly recommend that you fill it out if you want your images taken of a specific brain region only or at a specific orientation (e.g. sagittal). Otherwise, we will assume that you want the entire brain imaged, and we will image it in a sagittal orientation. ">
								{% if image_resolution_form.notes_for_imager.flags.required %}*{% endif %}
								{{ image_resolution_form.notes_for_imager.label(class="form-control-label") }} <a id='imaging_samples-{{ii}}-image_resolution_forms-{{jj}}-notes_for_imager_charbox'></a>
								{% if image_resolution_form.notes_for_imager.errors %}
									{{ image_resolution_form.notes_for_imager(class="form-control form-control-lg is-invalid",oninput="update_charbox(this)") }}
									<div class="invalid-feedback">
										{% for error in image_resolution_form.notes_for_imager.errors %}
											<span>{{ error }}</span>
										{% endfor %}
									</div>
								{% else %}
									{{ image_resolution_form.notes_for_imager(class="form-control form-control-lg",oninput="update_charbox(this)") }}
								{% endif %}
							</div>

							{% if image_resolution_form.image_resolution.data != '2x' %}
								<div class="form-group">
									{% if image_resolution_form.notes_for_processor.flags.required %}*{% endif %}
									{{ image_resolution_form.notes_for_processor.label(class="form-control-label") }} <a id='imaging_samples-{{ii}}-image_resolution_forms-{{jj}}-notes_for_processor_charbox'></a>
									{% if image_resolution_form.notes_for_processor.errors %}
										{{ image_resolution_form.notes_for_processor(class="form-control form-control-lg is-invalid",oninput="update_charbox(this)") }}
										<div class="invalid-feedback">
											{% for error in image_resolution_form.notes_for_processor.errors %}
												<span>{{ error }}</span>
											{% endfor %}
										</div>
									{% else %}
										{{ image_resolution_form.notes_for_processor(class="form-control form-control-lg",oninput="update_charbox(this)") }}
									{% endif %}
								</div>

								<div class="form-group">
									{% if image_resolution_form.final_orientation.flags.required %}*{% endif %}
									<a data-toggle="tooltip" title="How you want your output volume oriented. If registration is requested, this must be 'sagittal'">
									{{ image_resolution_form.final_orientation.label(class="form-control-label infolink") }}
									</a>
									{% if image_resolution_form.final_orientation.errors %}
										{{ image_resolution_form.final_orientation(class="form-control form-control-lg is-invalid") }}
										<div class="invalid-feedback">
											{% for error in image_resolution_form.final_orientation.errors %}
												<span>{{ error }}</span>
											{% endfor %}
										</div>
									{% else %}
										{{ image_resolution_form.final_orientation(class="form-control form-control-lg") }}
									{% endif %}
								</div>

								<div class="form-group">
									{% if image_resolution_form.atlas_name.flags.required %}*{% endif %}
									{{ image_resolution_form.atlas_name.label(class="form-control-label") }}
									{% if image_resolution_form.atlas_name.errors %}
										{{ image_resolution_form.atlas_name(class="form-control form-control-lg is-invalid") }}
										<div class="invalid-feedback">
											{% for error in image_resolution_form.atlas_name.errors %}
												<span>{{ error }}</span>
											{% endfor %}
										</div>
									{% else %}
										{{ image_resolution_form.atlas_name(class="form-control form-control-lg") }}
									{% endif %}
								</div>
			           		{% endif %}

						{% endfor %} <!-- End loop over image resolution forms -->


						<!-- Add an additional imaging resolution? -->
						{% if imaging_entry.image_resolution_forms|length > 0 and imaging_entry.image_resolution_forms|length < 4 %}
							<hr class='class-2'>
							<h5> Add an additional imaging resolution for this sample? </h5>
						{% endif %}

						{% if imaging_entry.image_resolution_forms|length < 4 %}
						<div class="form-group">
							{{ imaging_entry.image_resolution_forsetup.label(class="form-control-label") }}
							{% if imaging_entry.image_resolution_forsetup.errors %}
								{{ imaging_entry.image_resolution_forsetup(class="form-control form-control-lg is-invalid") }}
								<div class="invalid-feedback">
									{% for error in imaging_entry.image_resolution_forsetup.errors %}
										<span>{{ error }}</span>
									{% endfor %}
								</div>
							{% else %}
								{{ imaging_entry.image_resolution_forsetup(class="form-control form-control-lg") }}
							{% endif %}
						</div>
				        <div class="form-group">
							{{ imaging_entry.new_image_resolution_form_submit(class="btn btn-primary mt-2") }}
						</div>

						{% endif %}
		            	
		            	<hr class='class-2'>

						 {% if ii == 0 and form.number_of_samples.data > 1 %}
							<div class="form-group">
								{{ form.uniform_imaging_submit_button(class="btn btn-success ") }}
			                </div>
			            {% endif %}
						<br/>

		            	<hr class='class-2'>
					{% endfor %} <!-- Loop over all samples -->
				</div>
			


			</fieldset>
			<hr class='class-3'>
			<hr class='class-4'>
			<!-- Final submit button -->
			<!-- Only show it if form is ready to be submitted (i.e. at least one image resolution table has been set up -->
			{% if form.imaging_samples.data|length > 0 %}
				{% if form.imaging_samples[0].image_resolution_forms|length > 0 %}
					<h3 class='border-bottom'>Final Steps</h3>
					<div class="checkbox">
	                    {{ form.self_clearing(class="form-check-input") }}
	                    {{ form.self_clearing.label(class="form-check-label") }}
	                </div>
	                <div class="checkbox">
	                    {{ form.self_imaging(class="form-check-input") }}
	                    {{ form.self_imaging.label(class="form-check-label") }}
	                </div>

					<div class="form-group">
						{{ form.submit(class="btn btn-success mt-2") }}
					</div>
				{% endif %}
			{% endif %}
	
		</form>
	</div>

<script>
function togglefield(checkboxElem) {
	var x = document.getElementById("username_field");
	if (checkboxElem.checked) {
		x.style.display = "block";
	} else {
		x.style.display = "none";
		}
	}
</script>

<script> 
function initializeCharboxes() {
	{# Loop through all charboxes and initialize the text 
	stating how many characters are currently used. Doesn't work for samples fields, but will work for top fields 
	that have defaults sometimes.  #}
	charboxes = document.querySelectorAll('[id*="charbox"]');

	for (var i = 0; i < charboxes.length; i++) {
		console.log('charbox:', charboxes[i])
		var charbox = charboxes[i]
		charbox_id = charbox.id
		parent_elem_id = charbox_id.split("_").slice(0,-1).join('_')// All but the last which is "charbox"
		parent_elem = document.getElementById(parent_elem_id)
		current_n_chars = parent_elem.value.length
		// Update charbox text to display the correct number of characters when page was loaded
		charbox.innerHTML = current_n_chars + " characters used"
	}
}
window.onload = initializeCharboxes;
</script>

<script>
function update_charbox(elem) {
	var id = elem.id;
	charbox_id = id + '_charbox';
	var n_chars = elem.value.length
	var charboxElement = document.getElementById(charbox_id);
	charboxElement.innerHTML = n_chars + " characters used"
	}
</script>
<!-- For focusing to a given tag -->
{% if column_name %}
	<script>
	window.onload = function() {
	  document.getElementById("{{column_name}}").focus();
	};
	</script>

{% endif %}

<script>    
	$( function() {
		$( "#new_request_form" ).sisyphus();
		// or you can persist all forms data at one command
		// $( "form" ).sisyphus();
	} );
</script>
{% endblock content %}